{% extends "base.twig" %}
{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="case-studies-landing-info global-landing-info-container">
		{% for cstudy in posts %}
			{% if loop.index0 is divisible by(3) %}
				<div class="resource-info case-study-side-image">
					<div class="resource-info-wrapper">
						{% if cstudy.get_field('index_title') %}
							<div class="resource-info__title">{{ cstudy.get_field('index_title') }}</div>
						{% else %}
							<div class="resource-info__title">{{ cstudy.title }}</div>
						{% endif %}

						{% if cstudy.get_field('index_description') %}
							<div class="resource-info__description">{{ cstudy.get_field('index_description') }}</div>
						{% else %}
							<div class="resource-info__description">{{ cstudy.preview().read_more(false) }}</div>
						{% endif %}

						<div class="resource-info__link"><a href="{{ cstudy.link }}" class="button">Read More</a></div>
					</div>
					<div class="case-study--image"><img src="{{ TimberImage(cstudy.thumbnail).src('large') }}" /></div>
				</div>
			{% else %}
				<div class="resource-info resource-info--half case-study-side-image">
					<div class="resource-info-wrapper">
						{% if cstudy.get_field('index_title') %}
							<div class="resource-info__title">{{ cstudy.get_field('index_title') }}</div>
						{% else %}
							<div class="resource-info__title">{{ cstudy.title }}</div>
						{% endif %}

						{% if cstudy.get_field('index_description') %}
							<div class="resource-info__description">{{ cstudy.get_field('index_description') }}</div>
						{% else %}
							<div class="resource-info__description">{{ cstudy.preview().length(25).read_more(false) }}</div>
						{% endif %}

						<div class="resource-info__link"><a href="{{ cstudy.link }}" class="arrow">Read More</a></div>
					</div>
					<div class="case-study--image"><img src="{{ TimberImage(cstudy.thumbnail).src('large') }}" /></div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}