@charset "UTF-8";
/**
 * Theme Name: Eagle Technologies Theme
 * Author: 502 - A strategic marketing agency
 * Author URI: https://weare502.com/
 * Version: 0.2
 */
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}

.small-container {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}
.small-container:after {
  content: " ";
  display: block;
  clear: both;
}

.ginput_container .ginput_container_repeater-end > span {
  margin: 1rem;
  display: inline-block !important;
}
.ginput_container .ginput_container_repeater-end > span img {
  vertical-align: text-bottom;
}

.table-scroll {
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.table-scroll:after, .table-scroll:before {
  content: "Scroll for more information ";
  font-family: "FontAwesome", "Helvetica Neue", Helvetica, "FontAwesome", sans-serif;
  position: absolute;
  right: 0;
  display: none;
}
@media (max-width: 75em) {
  .table-scroll:after, .table-scroll:before {
    display: block;
  }
}
.table-scroll:after {
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.table-scroll:before {
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.give-padding {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.left-circuit-bg {
  position: relative;
  z-index: 1;
}
.left-circuit-bg:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("static/images/bg-circuits.svg");
  opacity: 0.25;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.right-circuit-bg {
  position: relative;
  z-index: 1;
}
.right-circuit-bg:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("static/images/bg-circuits.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  opacity: 0.25;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.left-circuit-bg-red {
  position: relative;
  z-index: 1;
}
.left-circuit-bg-red:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("static/images/bg-circuits-red.svg");
  opacity: 1;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.left-circuit-bg-white {
  position: relative;
  z-index: 1;
}
.left-circuit-bg-white:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("static/images/bg-circuits-white.svg");
  opacity: 0.25;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 90%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.light-gray-bg, .light-grey-bg {
  background-color: #F8F8F8;
}

.circle {
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.circle img {
  display: block;
  max-width: 25rem;
  max-height: 25rem;
  width: 50%;
}

.green-bg {
  background-color: #77BC1F;
}

.blue-bg {
  background-color: #00B3E3;
}

.red-bg {
  background-color: #FF4612;
}

.red-text {
  color: #FF4612;
}

.centered-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.left-text {
  text-align: left;
}

.light-text {
  font-weight: 300 !important;
}

.normal-text {
  font-weight: 400 !important;
}

.bold-text {
  font-weight: 700 !important;
}

.align-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .align-center {
    display: block;
  }
}

.alignright {
  float: right;
}

img.aligncenter {
  display: block;
  margin: 1.5em auto;
  clear: both;
  width: 100%;
}

.alignnone {
  float: none;
  display: block;
  width: 100%;
}
.alignnone a.imgwrap {
  display: block;
}
.alignnone img {
  display: block;
  margin: 0 auto;
}

img.alignnone {
  display: block;
  clear: both;
  margin: 1.5em auto;
}

.alignleft {
  float: left;
}

img.alignright {
  padding-left: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

img.alignleft {
  padding-right: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.wp-caption {
  background: rgba(74, 74, 74, 0.25);
  padding: 1.5em 1em;
  margin: 1.5rem 0;
}
.wp-caption:after {
  content: "";
  display: table;
  clear: both;
}
.wp-caption .wp-caption-text {
  margin: 0;
  margin-top: 1.5em;
}

.full-width {
  margin-left: -30vw;
  margin-right: -30vw;
  padding-left: 30vw;
  padding-right: 30vw;
  overflow: hidden;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.screen-reader-text:focus {
  background-color: #eee;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #333;
  display: block;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

.magnific {
  position: relative;
  background: #FFF;
  padding: 1rem;
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
}
.magnific .mfp-close {
  margin: 0;
}

.mfp-content {
  -webkit-animation: slideInUp 350ms 1;
          animation: slideInUp 350ms 1;
}

.mfp-close {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.mfp-close:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mfp-bg.mfp-removing {
  opacity: 0;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.mfp-wrap.mfp-removing .mfp-content {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100vh, 0);
            transform: translate3d(0, 100vh, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
          animation-name: slideInUp;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uppercase {
  text-transform: uppercase !important;
}

.bold {
  font-weight: 700 !important;
}

.white-text {
  color: #FFF;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

@media (max-width: 56.25em) {
  .hide-mobile {
    display: none !important;
  }
}

.u-fs-4 {
  font-size: 4rem;
}

.u-block {
  display: block;
}

.u-mb-3 {
  margin-bottom: 3rem;
}

.u-mw-30 {
  max-width: 30rem;
}

html, body {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, "FontAwesome", sans-serif;
  color: #4A4A4A;
  background: #FFF;
}
@media (min-width: 56.25em) {
  html, body {
    font-size: 14px;
  }
}
@media (min-width: 75em) {
  html, body {
    font-size: 16px;
  }
}

body {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, "FontAwesome", sans-serif;
  line-height: 1;
}

img {
  max-width: 100%;
  height: auto;
}

p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
textarea,
caption {
  font-size: 1em;
  /* equiv 16px */
  line-height: 1.5;
  margin: 0 0 1.5rem 0;
}

h1,
.h1 {
  font-weight: 700;
  font-size: 1.75em;
  /* equiv 28px */
  line-height: 1.7142;
  margin: 0 0 0.8571em 0;
}

h2,
.h2 {
  font-weight: 700;
  font-size: 1.625em;
  /* equiv 26px */
  line-height: 1.8462;
  margin: 0 0 0.9231em 0;
}

h3,
.h3 {
  font-weight: 700;
  font-size: 1.5em;
  /* equiv 24px */
  line-height: 1;
  margin: 0 0 1em 0;
}

h4,
.h4 {
  font-size: 1.375em;
  /* equiv 22px */
  line-height: 1.0909;
  margin: 0 0 1.0909em 0;
}

h5,
.h5 {
  font-size: 1.25em;
  /* equiv 20px */
  line-height: 1.2;
  margin: 0 0 1.2em 0;
}

h6,
.h6 {
  font-size: 1.125em;
  /* equiv 18px */
  line-height: 1.3333;
  margin: 0 0 1.3333em 0;
}

.smaller {
  font-size: 0.75em;
  /* equiv 12px */
  line-height: 2;
  margin: 2em 0 2em 0;
}

.small {
  font-size: 0.875em;
  /* equiv 14px */
  line-height: 1.7143;
  margin: 1.7143em 0 1.7143em 0;
}

.big {
  font-size: 1.125em;
  /* equiv 18px */
  line-height: 1.3333;
  margin: 1.3333em 0 1.3333em 0;
}

.bigger {
  font-size: 1.25em;
  /* equiv 20px */
  line-height: 1.2;
  margin: 1.2em 0 1.2em 0;
}

.biggest {
  font-size: 1.375em;
  /* equiv 22px */
  line-height: 1.0909;
  margin: 1.0909em 0 1.0909em 0;
}

/* avoid supp margin on nested elements */
li p,
li ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* you shall not pass */
textarea,
table,
td,
th,
code,
pre,
samp,
div,
p {
  word-wrap: break-word;
}

code,
pre,
samp {
  white-space: pre-wrap;
  font-family: consolas, "DejaVu Sans Mono", courier, monospace;
}

code {
  line-height: 1;
}

table {
  margin-bottom: 1.5rem;
}

#header {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
#header #header-logo {
  display: block;
}
#header #header-logo img {
  display: block;
  width: 100%;
}
#header #nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header .nav-inner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header #primary-menu {
  margin: 0;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
#header #primary-menu > li {
  margin-right: 2rem;
}
#header #primary-menu a {
  color: #4A4A4A;
  display: inline-block;
  padding: 0.5rem;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
#header #primary-menu ul {
  /* No Submenus */
  display: none;
}
#header .social-link {
  max-width: 5rem;
  max-height: 5rem;
  display: block;
  padding: 1rem;
}
#header .social-link svg {
  display: block;
  width: 100%;
}
#header .twitter {
  margin-left: -0.5rem;
  margin-right: 0.5rem;
}
#header .twitter:hover svg path {
  fill: #0084FF;
}
#header .linkedin:hover svg path#Fill-1 {
  fill: #4875B4;
}
#header .youtube {
  margin-right: 2rem;
}
#header .youtube:hover svg path {
  fill: #FF0000;
}
#header .facebook {
  margin-right: 1.5rem;
  margin-left: -1.5rem;
}
#header .facebook:hover .fa-facebook:before {
  color: #3B5998;
}
#header .fa-facebook {
  font-family: FontAwesome;
}
#header .fa-facebook::before {
  color: rgba(74, 74, 74, 0.7);
}
#header .menu-toggle-container {
  display: none;
}
#header #menu-toggle {
  background: #FF4612;
  color: #FFF;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}
#header #menu-toggle span {
  display: inline-block;
  margin-left: 1rem;
  font-family: "Helvetica Neue", Helvetica, "FontAwesome", sans-serif;
}
@media (max-width: 56.25em) {
  #header .menu-toggle-container {
    display: block;
    text-align: center;
    margin: 1rem;
  }
  #header #nav-main {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #header #nav-main #header-logo {
    max-width: 32rem;
  }
  #header #nav-main .nav-inner-wrap {
    display: none;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    background: #F8F8F8;
    padding: 1.5rem 1rem;
  }
  #header #nav-main .nav-inner-wrap.visible-menu {
    display: block;
  }
  #header #nav-main .nav-inner-wrap #primary-menu {
    display: block;
  }
  #header #nav-main .nav-inner-wrap .social-link {
    display: inline-block;
  }
  #header #nav-main .nav-inner-wrap .nav-button {
    display: block;
  }
}

#footer .footer-inner-wrap {
  border-top: 3px solid #4A4A4A;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#footer .footer-inner-wrap .footer-logo {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (min-width: 75em) {
  #footer .footer-inner-wrap .footer-logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
#footer .footer-email-contact {
  width: 100%;
  margin: 1rem 0;
  color: #FF4612;
  font-weight: 700;
}
@media (min-width: 75em) {
  #footer .footer-email-contact {
    width: auto;
    margin: 1rem 3rem;
  }
}
#footer .footer-email-contact a {
  color: #4A4A4A;
  font-weight: 400;
}
#footer .footer-phone-contact {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 1rem 0;
}
@media (min-width: 75em) {
  #footer .footer-phone-contact {
    width: auto;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

#footer .agency {
  padding-bottom: 1rem;
  font-size: 0.75rem;
  margin-top: 2rem;
}

a {
  text-decoration: none;
  color: #FF4612;
}
a:hover {
  text-decoration: underline;
}

a.arrow {
  display: inline-block;
}
a.arrow:after {
  margin-left: 0.5em;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  border-left: 0.35em solid currentColor;
  border-top: 0.35em solid transparent;
  border-bottom: 0.35em solid transparent;
}

hr.short {
  max-width: 20rem;
  margin: 3rem auto;
  display: block;
}

.no-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: -1;
}

.line-link {
  display: inline-block;
}
.line-link:before {
  content: "";
  display: inline-block;
  width: 1.25em;
  height: 1px;
  background: currentColor;
  margin-right: 0.25em;
}

[type="text/template"] {
  display: none;
}

.table-row {
  display: table-row;
}
.table-row > * {
  display: table-cell;
}

.narrow-container {
  max-width: 960px;
  margin: 0 auto;
}

.top-bottom-padding {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.top-bottom-padding-small {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mfp-content [type="text/template"] {
  display: block;
}

.mfp {
  background: #FFF;
  width: 90%;
  max-width: 75em;
  margin: 0 auto;
  position: relative;
  padding: 2rem;
}

.mfp-close {
  margin: 0;
}

.slick-slider .slick-list {
  z-index: 1;
}
.slick-slider .slick-arrow, .slick-slider .slick-prev, .slick-slider .slick-next {
  z-index: 10;
  width: 3rem;
  height: 3rem;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
}
.slick-slider .slick-arrow:before, .slick-slider .slick-prev:before, .slick-slider .slick-next:before {
  font-family: "FontAwesome", "slick", sans-serif;
  font-size: 2rem;
  color: #FFF;
  opacity: 1;
  position: relative;
}
.slick-slider .slick-prev {
  left: 1.5rem;
}
.slick-slider .slick-prev:before {
  content: "";
  right: 2px;
}
.slick-slider .slick-next {
  right: 1.5rem;
}
.slick-slider .slick-next:before {
  content: "";
  left: 2px;
}

.footer-call-to-action {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 56.25em) {
  .footer-call-to-action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.footer-call-to-action-image {
  display: block;
  width: 100%;
  max-width: 30rem;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 3rem auto 0;
}
@media (min-width: 56.25em) {
  .footer-call-to-action-image {
    margin: 0;
  }
}
@media (min-width: 56.25em) {
  .footer-call-to-action-info {
    max-width: 30rem;
    margin-left: 3rem;
  }
}
.footer-call-to-action-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
.footer-call-to-action-subtitle {
  font-size: 1.25rem;
  margin: 2rem 0;
}
.page-header {
  padding: 3rem 4rem 12rem;
  margin-bottom: 1.5rem;
  color: #FFF;
  position: relative;
}
.page-header:before {
  content: "";
  background: rgba(74, 74, 74, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 0;
}
.page-header > * {
  position: relative;
  z-index: 1;
}
.page-header .page-title {
  font-size: 3rem;
  max-width: 40rem;
  line-height: 1;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}
.page-header .page-subtitle {
  max-width: 50rem;
  font-size: 1.25rem;
}

.bg-cover-center {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.corner-circle-box {
  -webkit-box-shadow: 0 2px 4px 5px rgba(74, 74, 74, 0.2);
          box-shadow: 0 2px 4px 5px rgba(74, 74, 74, 0.2);
  overflow: hidden;
  margin-bottom: 3rem;
  padding: 4rem 3rem;
  background: #FFF;
}

.global-cta-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3rem 4rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  z-index: 1;
}
.global-cta-cards .cta-card {
  background: #FFF;
  -webkit-box-shadow: 0 2px 5px 4px rgba(74, 74, 74, 0.2);
          box-shadow: 0 2px 5px 4px rgba(74, 74, 74, 0.2);
  padding: 2.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 90%;
          flex: 1 0 90%;
  margin: 1.5rem 1rem;
  text-align: center;
}
@media (min-width: 26.25em) {
  .global-cta-cards .cta-card {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}
@media (min-width: 75em) {
  .global-cta-cards .cta-card {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}
.global-cta-cards .cta-card__icon {
  width: 5.5rem;
  height: auto;
  min-height: 5.5rem;
  margin-bottom: 1.5rem;
}
.global-cta-cards .cta-card__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.global-cta-cards .cta-card__title:after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background: #9B9B9B;
  margin: 1.5rem auto;
}
.global-cta-cards a {
  font-weight: 700;
}

.global-landing-info-container {
  margin: 3rem 4rem 3rem;
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.global-widget-featured-event {
  background-color: #4A4A4A;
  background-size: cover;
  color: #FFF;
  position: relative;
  z-index: 1;
  padding: 2rem;
  font-weight: bold;
}
@media (min-width: 75em) {
  .global-widget-featured-event {
    padding: 2rem 6rem;
  }
}
.global-widget-featured-event:before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(74, 74, 74, 0.75);
  z-index: -1;
}
.global-widget-featured-event .featured-event-meta {
  margin-bottom: 2rem;
}
.global-widget-featured-event .featured-event-title {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 60rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  margin-bottom: 2rem;
}
@media (min-width: 56.25em) {
  .global-widget-featured-event .featured-event-title {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.global-widget-featured-event .featured-event-title .fa {
  margin-right: 2rem;
  margin-bottom: 2rem;
  font-size: 5rem;
}
@media (min-width: 56.25em) {
  .global-widget-featured-event .featured-event-title .fa {
    margin-bottom: 0;
  }
}
.global-widget-featured-event .featured-event-description {
  font-size: 1.5rem;
  font-weight: normal;
  max-width: 60rem;
}
.global-widget-featured-event .featured-event-link {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.global-widget-featured-event .featured-event-disclaimer {
  margin-bottom: 1rem;
}
.global-widget-featured-event .gform_validation_error {
  background: #FFF;
  padding: 1rem;
}
@media (min-width: 75em) {
  .global-widget-featured-event .gf_simple_horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.global-widget-featured-event .gf_simple_horizontal .gform_body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.global-widget-upcoming-events-list {
  background-color: #F8F8F8;
  margin-bottom: 4rem;
  padding: 1rem 2rem 2rem;
}
.global-widget-upcoming-events-list .global-widget-upcoming-events-title-wrapper {
  diplay: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid #4A4A4A;
  padding-bottom: 1rem;
}
.global-widget-upcoming-events-list .global-widget-upcoming-events-list-title {
  margin-right: 2rem;
  border-right: 1px solid #4A4A4A;
  padding: 1rem 2rem 1rem 1rem;
  display: inline-block;
}
.global-widget-upcoming-events-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.global-widget-upcoming-events-list .global-widget-upcoming-event {
  max-width: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}
.global-widget-upcoming-events-list .global-widget-upcoming-event a {
  color: #FF4612;
  font-weight: 700;
}
.global-widget-upcoming-events-list .global-widget-upcoming-event .event-details-wraper {
  padding-right: 2rem;
}
.global-widget-upcoming-events-list .global-widget-upcoming-event .event-location {
  margin-bottom: 0.5rem;
}
.global-widget-upcoming-events-list .global-widget-upcoming-event .event-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.global-widget-upcoming-events-list .global-widget-upcoming-event .event-excerpt {
  margin-bottom: 1rem;
}
.global-widget-upcoming-events-list .global-widget-upcoming-event .event-date {
  background: #9B9B9B;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 6.25rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 1.5rem;
  border-radius: 0.5rem;
}
.global-widget-upcoming-events-list .global-widget-upcoming-event .event-date .event-date-month {
  font-size: 1.5rem;
}
.global-widget-upcoming-events-list .global-widget-upcoming-event .event-date .event-date-day {
  font-size: 2.25rem;
}

.global-widget-testimonials .testimonial {
  color: #FFF;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 56.25em) {
  .global-widget-testimonials .testimonial {
    padding: 6rem;
  }
}
.global-widget-testimonials .testimonial:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(74, 74, 74, 0.75);
  z-index: -1;
}
.global-widget-testimonials .testimonial .testimonial-logo {
  max-width: 30rem;
  margin: 1.5rem 0;
  width: 100%;
}
.global-widget-testimonials .testimonial .testimonial-logo img {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 20rem;
}
.global-widget-testimonials .testimonial .testimonial-quote {
  font-size: 1rem;
  max-width: 40rem;
}

.global-widget-partners-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.global-widget-partners-grid .partners__logo {
  display: block;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30rem;
          flex: 1 0 30rem;
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.global-widget-partners-grid .partners__logo img {
  max-height: 10rem;
  max-width: 10rem;
}

.archive-wrapper--has-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 56.25em) {
  .archive-wrapper--has-sidebar {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.archive-wrapper .archive-sidebar {
  min-width: 30rem;
}
.archive-wrapper .archive-content {
  width: 100%;
}

.archive-facet__title {
  margin-bottom: 0.5rem;
}

.global-widget-cta-banner {
  background: rgba(74, 74, 74, 0.05);
  padding: 3rem 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3rem 0;
}
.global-widget-cta-banner__wrapper {
  max-width: 30rem;
}
.global-widget-cta-banner__title {
  font-size: 3rem;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 3rem;
}
.global-widget-cta-banner__image {
  display: none;
  max-width: 20rem;
  margin: 3rem 4rem;
}
@media (min-width: 75em) {
  .global-widget-cta-banner__image {
    display: block;
  }
}

.landing-page-tab-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 75em) {
  .landing-page-tab-nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 0;
  }
}
.landing-page-tab-nav .landing-page-tab {
  background: none;
  border: none;
  cursor: pointer;
  margin: 1rem 0.5rem;
  padding: 0;
  width: 25%;
}
@media (min-width: 56.25em) {
  .landing-page-tab-nav .landing-page-tab {
    max-width: 10rem;
    margin: 3rem 2rem;
    width: auto;
  }
}
.landing-page-tab-nav .landing-page-tab__image {
  max-width: 100%;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}
@media (min-width: 56.25em) {
  .landing-page-tab-nav .landing-page-tab__image {
    width: 8rem;
    height: 8rem;
  }
}
.landing-page-tab-nav .landing-page-tab__image svg {
  max-width: calc(100% - 2rem);
  display: block;
}
.landing-page-tab-nav .landing-page-tab__image svg path {
  fill: #c7c7c7;
}
.landing-page-tab-nav .landing-page-tab__image #deeparc-svg rect {
  stroke: #c7c7c7;
}
.landing-page-tab-nav .landing-page-tab__image #deeparc-svg path {
  fill: none !important;
  stroke: #c7c7c7;
}
.landing-page-tab-nav .landing-page-tab__image #analytics-svg polygon {
  fill: #c7c7c7;
}
.landing-page-tab-nav .landing-page-tab:hover .landing-page-tab__image {
  background: #00B3E3;
  -webkit-box-shadow: 0 2px 5px 4px rgba(74, 74, 74, 0.2);
          box-shadow: 0 2px 5px 4px rgba(74, 74, 74, 0.2);
}
.landing-page-tab-nav .landing-page-tab:hover .landing-page-tab__image svg path {
  fill: #FFF;
}
.landing-page-tab-nav .landing-page-tab:hover .landing-page-tab__image #deeparc-svg rect {
  stroke: #FFF;
}
.landing-page-tab-nav .landing-page-tab:hover .landing-page-tab__image #deeparc-svg path {
  fill: none !important;
  stroke: #FFF;
}
.landing-page-tab-nav .landing-page-tab:hover .landing-page-tab__image #analytics-svg polygon {
  fill: #FFF;
}
.landing-page-tab-nav .landing-page-tab.selected .landing-page-tab__image {
  background: #FF4612;
  -webkit-box-shadow: 0 2px 5px 4px rgba(74, 74, 74, 0.2);
          box-shadow: 0 2px 5px 4px rgba(74, 74, 74, 0.2);
}
.landing-page-tab-nav .landing-page-tab.selected .landing-page-tab__image svg path {
  fill: #FFF;
}
.landing-page-tab-nav .landing-page-tab.selected .landing-page-tab__image #deeparc-svg rect {
  stroke: #FFF;
}
.landing-page-tab-nav .landing-page-tab.selected .landing-page-tab__image #deeparc-svg path {
  fill: none !important;
  stroke: #FFF;
}
.landing-page-tab-nav .landing-page-tab.selected .landing-page-tab__image #analytics-svg polygon {
  fill: #FFF;
}
.landing-page-tab-nav .landing-page-tab__title {
  font-weight: 700;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  margin-top: 0.5rem;
}
@media (min-width: 56.25em) {
  .landing-page-tab-nav .landing-page-tab__title {
    margin-top: 1.5rem;
  }
}

.landing-page-tabs {
  margin-bottom: 3rem;
  max-width: 60rem;
  margin: 0 auto 3rem;
}
.landing-page-tabs .landing-page-tab-content {
  display: none;
}
.landing-page-tabs .landing-page-tab-content.selected {
  display: block;
}

.button, a.button {
  height: auto;
  font-weight: 400;
  vertical-align: middle;
  white-space: normal;
  line-height: 1;
  background: #FF4612;
  border-radius: 0.5rem;
  padding: 0.75em 1.5em;
  color: #FFF;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, "FontAwesome", sans-serif;
  -webkit-transition: all 100ms linear;
  transition: all 100ms linear;
  border: 1px solid #FF4612;
  cursor: pointer;
}
.button:hover, .button:active, .button:focus, a.button:hover, a.button:active, a.button:focus {
  background-color: #FFF;
  color: #FF4612;
}
.button:focus, a.button:focus {
  outline: 1px dashed black;
}
.button.large, a.button.large {
  font-size: 1.5rem;
}
.button.blue, a.button.blue {
  background: #00B3E3;
  border-color: #00B3E3;
}
.button.blue:hover, a.button.blue:hover {
  color: #00B3E3;
  background: #FFF;
}
.button.green, a.button.green {
  background: #77BC1F;
  border-color: #77BC1F;
}
.button.green:hover, a.button.green:hover {
  color: #77BC1F;
  background: #FFF;
}
.button.white, a.button.white {
  background: #FFF;
  color: #FF4612;
}
.button.grey-gradient, a.button.grey-gradient {
  background: -webkit-gradient(linear, left bottom, left top, from(#C9C9C9), to(#FFFFFF));
  background: linear-gradient(to top, #C9C9C9, #FFFFFF);
  color: #4A4A4A;
  border: none;
  -webkit-box-shadow: 0 10px 16px -8px rgba(74, 74, 74, 0.75);
          box-shadow: 0 10px 16px -8px rgba(74, 74, 74, 0.75);
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.25rem;
}

#content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (min-width: 90em) {
  #content {
    padding-left: 0;
    padding-right: 0;
  }
}

#tinymce.wp-editor {
  padding: 1em !important;
  max-width: 1200px;
  margin: 0 auto;
}
#tinymce.wp-editor img.aligncenter {
  max-width: none;
  margin: 4rem 0;
}
@media (min-width: 56.25em) {
  #tinymce.wp-editor img.aligncenter {
    width: calc(100% + 12rem);
    margin: 4rem -6rem;
  }
}
#tinymce.wp-editor img.alignright {
  margin: 2rem;
}
@media (min-width: 56.25em) {
  #tinymce.wp-editor img.alignright {
    margin: 2rem -25% 2rem 4rem;
  }
}
#tinymce.wp-editor hr {
  width: 75%;
  margin: 4rem auto;
}
#tinymce.wp-editor blockquote {
  color: #FF4612;
  font-size: 3rem;
  line-height: 1;
  text-align: center;
  margin: 4rem 0;
}

.post-thumbnail {
  width: 100%;
  display: block;
}

.pagination {
  text-align: center;
  margin: 4em 0;
}
.pagination .pages {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.pagination .pages li {
  display: inline-block;
}
.pagination .pages li + li {
  margin-left: 1em;
}
.pagination .pages li a {
  display: inline;
  padding: 0 0.25em;
}
.pagination .next {
  margin-left: 1em;
}

.pagination:empty {
  display: none;
}

article.post-type-page {
  margin-bottom: 3rem;
}
@media (min-width: 56.25em) {
  article.post-type-page {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

article.post-type-event {
  margin-bottom: 3rem;
}
@media (min-width: 56.25em) {
  article.post-type-event {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

.event-archive-item {
  position: relative;
}
.event-archive-item__info {
  max-width: 30rem;
  position: relative;
  z-index: 1;
}
.event-archive-item__title {
  line-height: 1;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
.event-archive-item__title a {
  color: #4A4A4A;
}
.event-archive-item.left-circuit-bg:after {
  opacity: 0.1;
}
.event-archive-item__meta {
  color: #FF4612;
  margin-bottom: 1.5rem;
}
.event-archive-item__icon {
  position: absolute;
  padding: 3rem;
  border-radius: 50%;
  height: 32rem;
  width: 32rem;
  top: -10rem;
  right: -8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
  opacity: 0.1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (min-width: 90em) {
  .event-archive-item__icon {
    opacity: 1;
  }
}

article.post-type-howto {
  margin-bottom: 3rem;
}
@media (min-width: 56.25em) {
  article.post-type-howto {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

.howto-archive-item {
  position: relative;
}
.howto-archive-item__info {
  max-width: 30rem;
  position: relative;
  z-index: 1;
}
.howto-archive-item__title {
  line-height: 1;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
.howto-archive-item__title a {
  color: #4A4A4A;
}
.howto-archive-item.left-circuit-bg:after {
  opacity: 0.1;
}
.howto-archive-item__meta {
  color: #FF4612;
  margin-bottom: 1.5rem;
}
.howto-archive-item__icon {
  position: absolute;
  padding: 3rem;
  border-radius: 50%;
  height: 32rem;
  width: 32rem;
  top: -10rem;
  right: -8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
  opacity: 0.1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (min-width: 90em) {
  .howto-archive-item__icon {
    opacity: 1;
  }
}

.history__eagle-now {
  background: #FF4612;
  padding: 3rem 4rem;
  color: #FFF;
  margin: 3rem 0;
}
.history__eagle-now:after {
  opacity: 0.15;
}
.history__founders, .history__retro-founders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: 3rem 0;
}
.history__founders img, .history__retro-founders img {
  display: block;
  max-width: 8rem;
  margin: 0 auto;
}
.history__founders .founder, .history__retro-founders .founder {
  min-width: 12rem;
  margin: 1.5rem 0;
}
.history__founders .founder__name, .history__retro-founders .founder__name {
  display: inline-block;
  margin: 1rem 0;
}

.post-type-archive-download .archive-sidebar {
  max-width: calc(100% - 8rem);
  margin: 0 auto;
}
.post-type-archive-download .archive-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 6rem;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.download-archive-item {
  min-width: 49%;
  width: 100%;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.75rem;
}
@media (min-width: 56.25em) {
  .download-archive-item {
    max-width: 50%;
  }
}
.download-archive-item a {
  display: inline-block;
  color: #4A4A4A;
  text-decoration: none;
  padding: 0.25rem 0;
  padding: 3rem;
  background-color: white;
  -webkit-box-shadow: 0 2px 5px 4px rgba(74, 74, 74, 0.2);
          box-shadow: 0 2px 5px 4px rgba(74, 74, 74, 0.2);
  text-align: center;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.download-archive-item .download-title {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.download-archive-item .download-meta {
  color: #FF4612;
  margin-bottom: 0.75rem;
}
.download-archive-item .file-size {
  color: #4A4A4A;
  margin-left: 1.5rem;
}
.download-archive-item .view-link {
  font-weight: bold;
  color: #FF4612;
  margin-top: 1.5rem;
}

.archive-facet__wrapper .facetwp-facet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.archive-facet__wrapper .facetwp-facet > * {
  padding: 2rem;
}

.comments {
  margin-top: 4em;
}

#commentform label {
  display: block;
}
#commentform input, #commentform textarea {
  width: 100%;
  display: block;
}
#commentform .comment-form-comment label, #commentform textarea {
  display: block;
}
#commentform .required {
  color: #FF4612;
}
#commentform .comment-form-url {
  display: none;
}

.home .home-slider {
  margin-bottom: 3rem;
  position: relative;
}
.home .home-slider .slide {
  color: #FFF;
  padding: 6rem 2rem 18rem;
  background-size: cover;
  background-color: #00B3E3;
  position: relative;
  z-index: 1;
}
.home .home-slider .slide:before {
  content: "";
  display: block;
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.1;
  background-image: url("static/images/bg-circuits-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center 10%;
}
.home .home-slider .slide:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(74, 74, 74, 0.75)), to(transparent));
  background: linear-gradient(to right, rgba(74, 74, 74, 0.75), transparent);
  z-index: -2;
}
@media (min-width: 75em) {
  .home .home-slider .slide {
    padding: 6rem 6rem 18rem;
  }
}
.home .home-slider .slide-title {
  line-height: 1;
  margin-bottom: 1.5rem;
  font-size: 3rem;
  font-weight: 700;
  max-width: 45rem;
  text-shadow: 0 2px 8px rgba(74, 74, 74, 0.3);
}
@media (min-width: 56.25em) {
  .home .home-slider .slide-title {
    font-size: 5rem;
  }
}
.home .home-slider .slide-subtitle {
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 0 2px 8px rgba(74, 74, 74, 0.3);
  max-width: 45rem;
  line-height: 1;
}
@media (min-width: 56.25em) {
  .home .home-slider .slide-subtitle {
    font-size: 4rem;
  }
}
.home .home-slider .slide-excerpt {
  font-size: 1.5rem;
  text-shadow: 0 2px 8px rgba(74, 74, 74, 0.3);
  max-width: 45rem;
  margin: 1.5rem 0;
}
.home .home-cta-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -18rem;
  margin-bottom: 3rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  z-index: 1;
}
.home .home-cta-cards .cta-card {
  background: #FFF;
  -webkit-box-shadow: 0 2px 5px 4px rgba(74, 74, 74, 0.2);
          box-shadow: 0 2px 5px 4px rgba(74, 74, 74, 0.2);
  padding: 2.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 90%;
          flex: 1 0 90%;
  margin: 1.5rem 1rem;
  text-align: center;
}
@media (min-width: 26.25em) {
  .home .home-cta-cards .cta-card {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}
@media (min-width: 75em) {
  .home .home-cta-cards .cta-card {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}
.home .home-cta-cards .cta-card__icon {
  width: 5.5rem;
  height: auto;
  min-height: 5.5rem;
  margin-bottom: 1.5rem;
}
.home .home-cta-cards .cta-card__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.home .home-cta-cards .cta-card__title:after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background: #9B9B9B;
  margin: 1.5rem auto;
}
.home .home-cta-cards a {
  font-weight: 700;
}
.home .home-featured-event {
  background-color: #4A4A4A;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #FFF;
  position: relative;
  z-index: 1;
  padding: 2rem;
  font-weight: bold;
}
@media (min-width: 75em) {
  .home .home-featured-event {
    padding: 2rem 6rem;
  }
}
.home .home-featured-event:before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: rgba(74, 74, 74, 0.75);
  z-index: -1;
}
.home .home-featured-event .featured-event-meta {
  margin-bottom: 2rem;
}
.home .home-featured-event .featured-event-title {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 60rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  margin-bottom: 2rem;
}
@media (min-width: 56.25em) {
  .home .home-featured-event .featured-event-title {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.home .home-featured-event .featured-event-title .fa {
  margin-right: 2rem;
  margin-bottom: 2rem;
  font-size: 5rem;
}
@media (min-width: 56.25em) {
  .home .home-featured-event .featured-event-title .fa {
    margin-bottom: 0;
  }
}
.home .home-featured-event .featured-event-description {
  font-size: 1.5rem;
  font-weight: normal;
  max-width: 60rem;
}
.home .home-featured-event .featured-event-link {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.home .home-featured-event .featured-event-disclaimer {
  margin-bottom: 1rem;
}
.home .home-featured-event .gform_validation_error {
  background: #FFF;
  padding: 1rem;
}
@media (min-width: 75em) {
  .home .home-featured-event .gf_simple_horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.home .home-featured-event .gf_simple_horizontal .gform_body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.home .home-upcoming-events-list {
  background-color: #F8F8F8;
  margin-bottom: 4rem;
  padding: 1rem 2rem 2rem;
}
.home .home-upcoming-events-list .home-upcoming-events-title-wrapper {
  diplay: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  border-bottom: 1px solid #4A4A4A;
  padding-bottom: 1rem;
}
.home .home-upcoming-events-list .home-upcoming-events-list-title {
  margin-right: 2rem;
  border-right: 1px solid #4A4A4A;
  padding: 1rem 2rem 1rem 1rem;
  display: inline-block;
}
.home .home-upcoming-events-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home .home-upcoming-events-list .home-upcoming-event {
  max-width: 28rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
}
.home .home-upcoming-events-list .home-upcoming-event a {
  color: #FF4612;
  font-weight: 700;
}
.home .home-upcoming-events-list .home-upcoming-event .event-details-wraper {
  padding-right: 2rem;
}
.home .home-upcoming-events-list .home-upcoming-event .event-location {
  margin-bottom: 0.5rem;
}
.home .home-upcoming-events-list .home-upcoming-event .event-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.home .home-upcoming-events-list .home-upcoming-event .event-excerpt {
  margin-bottom: 1rem;
}
.home .home-upcoming-events-list .home-upcoming-event .event-date {
  background: #9B9B9B;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 6.25rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  margin-right: 1.5rem;
  border-radius: 0.5rem;
}
.home .home-upcoming-events-list .home-upcoming-event .event-date .event-date-month {
  font-size: 1.5rem;
}
.home .home-upcoming-events-list .home-upcoming-event .event-date .event-date-day {
  font-size: 2.25rem;
}
.home .home-contact-support {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}
.home .home-contact-support .inner-wrap {
  max-width: 50rem;
}
.home .home-contact-support .h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1;
}
.home .home-contact-support p {
  line-height: 1.25;
  font-size: 1.5rem;
  max-width: 42rem;
  margin-bottom: 2rem;
}
.home .home-contact-support .support-nav {
  padding: 1.5rem 0;
  -webkit-box-shadow: 0 2px 5px 4px rgba(74, 74, 74, 0.2);
          box-shadow: 0 2px 5px 4px rgba(74, 74, 74, 0.2);
  background: #FFF;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.home .home-contact-support .support-nav a {
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: #4A4A4A;
  font-size: 1.5rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 26.25em) {
  .home .home-contact-support .support-nav a {
    width: calc(100%/3);
  }
}
.home .home-contact-support .support-nav a:hover {
  text-decoration: none;
}
.home .home-contact-support .support-nav a:hover .fa {
  color: #00B3E3;
}
.home .home-contact-support .support-nav a .fa {
  color: #77BC1F;
  font-size: 3rem;
  margin-bottom: 3rem;
}
.home .home-contact-support .support-nav a:nth-child(2) {
  border-left: 1px solid #4A4A4A;
  border-right: 1px solid #4A4A4A;
}
.home .home-contact-support .icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: none;
  margin-left: 4rem;
}
@media (min-width: 56.25em) {
  .home .home-contact-support .icon {
    display: inherit;
  }
}
.home .partners {
  margin-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}
.home .partners__circle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0rem 0;
  margin: 3rem 0 6rem;
}
@media (min-width: 56.25em) {
  .home .partners__circle {
    margin: 3rem 2rem 6rem;
  }
}
.home .partners__center-icon {
  max-width: 6rem;
}
@media (min-width: 56.25em) {
  .home .partners__center-icon {
    max-width: 10rem;
  }
}
.home .partners__logo {
  max-width: 10rem;
  margin: 3rem;
}
.home .partners__info {
  width: 100%;
  max-width: 36rem;
}
.home .partners__info-title {
  font-size: 4rem;
  line-height: 1;
  font-weight: 700;
}
.home .partners__info-subtitle {
  font-size: 1.5rem;
  line-height: 1;
  margin: 1.5rem 0;
  color: #FF4612;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
.home .partners__info-description {
  margin: 1.5rem 0;
}
.home .partners__info-buttons .button {
  margin-right: 1rem;
  margin-bottom: 1.5rem;
}
.home .testimonials .testimonial {
  color: #FFF;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 6rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home .testimonials .testimonial:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(74, 74, 74, 0.75);
  z-index: -1;
}
.home .testimonials .testimonial .testimonial-logo {
  max-width: 30rem;
  margin: 1.5rem 0;
  width: 100%;
}
.home .testimonials .testimonial .testimonial-logo img {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 20rem;
}
.home .testimonials .testimonial .testimonial-quote {
  font-size: 1rem;
  max-width: 40rem;
}

.contact-cta-cards .cta-card.selected {
  -webkit-box-shadow: 0 2px 5px 4px rgba(255, 70, 18, 0.9);
          box-shadow: 0 2px 5px 4px rgba(255, 70, 18, 0.9);
}

.contact-forms {
  margin: 3rem 4rem;
}
.contact-forms .contact-form-option {
  display: none;
}
.contact-forms .contact-form-option.selected {
  display: block;
}

.resources-landing-info {
  margin: -9rem 0rem 3rem;
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 56.25em) {
  .resources-landing-info {
    margin: -9rem 4rem 3rem;
  }
}

.resource-info {
  position: relative;
  width: 100%;
}
.resource-info-wrapper {
  max-width: 40rem;
  z-index: 1;
  position: relative;
}
.resource-info__title {
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
}
.resource-info__description {
  margin: 3rem 0;
}
.resource-info__icon {
  position: absolute;
  padding: 3rem;
  border-radius: 50%;
  height: 16rem;
  width: 16rem;
  top: -3rem;
  right: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
  opacity: 0.1;
}
@media (min-width: 56.25em) {
  .resource-info__icon {
    height: 30rem;
    width: 30rem;
    top: -8rem;
    right: -4rem;
  }
}
@media (min-width: 75em) {
  .resource-info__icon {
    opacity: 1;
  }
}
.resource-info__icon img {
  max-width: 6rem;
  width: 100%;
  display: block;
}
@media (min-width: 75em) {
  .resource-info__icon img {
    max-width: 6rem;
  }
}
.resource-info__icon--red {
  background: #FF4612;
}
.resource-info__icon--blue {
  background: #00B3E3;
}
.resource-info__icon--green {
  background: #77BC1F;
}
.resource-info__icon--image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.resource-info--half {
  width: 100%;
  max-width: 40rem;
}
.resource-info--half .resource-info__icon {
  height: 16rem;
  width: 16rem;
  top: -3rem;
  right: -3rem;
}
.resource-info--half .resource-info-wrapper {
  max-width: 20rem;
}
.resource-info--half .resource-info__title {
  font-size: 2rem;
}

.case-studies-landing-info {
  margin-top: -9rem;
}

article.post-type-case_study {
  margin-bottom: 3rem;
}
@media (min-width: 56.25em) {
  article.post-type-case_study {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

.case-study-side-image {
  -webkit-box-shadow: 0 2px 4px 5px rgba(74, 74, 74, 0.2);
          box-shadow: 0 2px 4px 5px rgba(74, 74, 74, 0.2);
  overflow: hidden;
  margin-bottom: 3rem;
  padding: 4rem 3rem;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
}
.case-study-side-image:after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("static/images/bg-circuits-vertical.svg");
  opacity: 0.1;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto 80%;
  top: 0;
  left: 0;
  right: 1rem;
  bottom: 0;
  z-index: -1;
}

.support-landing-info {
  margin: 3rem 3rem 3rem;
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.solutions-landing-info {
  margin-top: -6rem;
}

.solutions-testimonials {
  margin-bottom: 3rem;
}

.solutions-partners {
  margin-bottom: 6rem;
  padding: 3rem 0;
}
.solutions-partners__title {
  font-size: 3rem;
}
.solutions-partners__subtitle {
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
}
.solutions-partners__subtitle--wide {
  max-width: 50rem;
}

.container-player {
  overflow: none;
  width: 100%;
  height: 100%;
  background-color: #eee;
  overflow: hidden;
  position: relative;
}

.container-player.fullscreen-background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.container-player .container-player-outer {
  position: relative;
  width: 100%;
  height: 100%;
}

.container-player .container-player-inner,
.container-player .container-player-poster {
  position: absolute;
  z-index: 0;
}

.container-player .container-player-poster {
  background-size: cover;
  z-index: 0;
}

.container-player.youtube iframe, .container-player.vimeo iframe {
  opacity: 0;
}

.container-player.youtube.transition-in.playing iframe,
.container-player.youtube.transition-in.paused iframe, .container-player.vimeo.transition-in.playing iframe,
.container-player.vimeo.transition-in.paused iframe {
  -webkit-animation: revealVideo 1s;
  animation: revealVideo 1s;
}

.container-player.youtube.playing iframe,
.container-player.youtube.paused iframe, .container-player.vimeo.playing iframe,
.container-player.vimeo.paused iframe {
  opacity: 1;
}

.container-player .container-player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

@-webkit-keyframes revealVideo {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes revealVideo {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container-player video, .container-player iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.page-template-whitepaper .page-header .page-title {
  -webkit-hyphens: none;
      -ms-hyphens: none;
          hyphens: none;
  font-size: 3rem;
  max-width: 35rem;
}
@media (min-width: 26.25em) {
  .page-template-whitepaper .page-header .page-title {
    font-size: 4rem;
  }
}
.page-template-whitepaper .page-header::before {
  display: none;
}

.full-width-whitepaper-banner {
  background: #77BC1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -1.5rem;
  position: relative;
  padding: 3rem 1.5rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
@media (min-width: 26.25em) {
  .full-width-whitepaper-banner {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 1.5rem;
    height: 10rem;
  }
}
.full-width-whitepaper-banner .button {
  margin: 0 1.5rem;
}
.full-width-whitepaper-banner .whitepaper-image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  margin-top: 3rem;
}
@media (min-width: 26.25em) {
  .full-width-whitepaper-banner .whitepaper-image {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
    margin-right: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.whitepaper-banner-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 26.25em) {
  .whitepaper-banner-left {
    margin-bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.whitepaper-banner-left h2 {
  margin: 0;
  color: #FFF;
  font-size: 2rem;
  line-height: 1.25;
}
.whitepaper-banner-left p {
  margin: 0;
}

.full-width-whitepaper-footer-banner {
  background: #77BC1F;
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 3rem 1.5rem 0;
  text-align: center;
}
@media (min-width: 26.25em) {
  .full-width-whitepaper-footer-banner {
    margin-top: 18rem;
    padding: 0 1.5rem;
  }
}
.full-width-whitepaper-footer-banner-wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 26.25em) {
  .full-width-whitepaper-footer-banner-wrapper {
    height: 20rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }
}
.full-width-whitepaper-footer-banner .whitepaper-banner-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 20rem;
  text-align: center;
}
.full-width-whitepaper-footer-banner .whitepaper-banner-left h2 {
  line-height: 1;
  margin: 0;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
@media (min-width: 26.25em) {
  .full-width-whitepaper-footer-banner .whitepaper-banner-left h2 {
    text-align: left;
  }
}
.full-width-whitepaper-footer-banner .whitepaper-banner-left p {
  margin: 0;
  margin-bottom: 0.5rem;
}
.full-width-whitepaper-footer-banner .whitepaper-banner-left a:not(.button) {
  color: #4A4A4A;
  text-decoration: underline;
}
.full-width-whitepaper-footer-banner img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 30rem;
  margin: 0 1.5rem;
  width: 12rem;
}
@media (min-width: 26.25em) {
  .full-width-whitepaper-footer-banner img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: auto;
  }
}

.whitepaper-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whitepaper-content {
  width: 50rem;
  padding: 1.5rem 0;
}
.whitepaper-content h1, .whitepaper-content h2, .whitepaper-content h3 {
  line-height: 1.2;
}

.whitepaper-sidebar {
  position: static;
  top: 2rem;
  max-width: 18rem;
  padding: 1rem;
  background: #EFEFEF;
  -ms-flex-item-align: start;
      align-self: flex-start;
  z-index: 100;
  margin: 1rem;
  border: 1px solid #979797;
  border-radius: 0.5rem;
}
@media (min-width: 75em) {
  .whitepaper-sidebar {
    position: -webkit-sticky;
    position: sticky;
  }
}
.whitepaper-sidebar input[type=submit].gform_button {
  background: #77BC1F;
  color: #FFF;
  width: 100% !important;
  display: block;
  border: none;
}

.whitepaper-quote {
  color: #FF4612;
  margin: 12rem 0;
}
@media (min-width: 56.25em) {
  .whitepaper-quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.whitepaper-quote:after {
  width: 100%;
  height: 250%;
  top: -70%;
  left: 0;
}
@media (min-width: 26.25em) {
  .whitepaper-quote:after {
    left: -20%;
  }
}
.whitepaper-quote-title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  min-width: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3rem;
  margin-bottom: 2rem;
}
.whitepaper-quote-title:after {
  content: "";
  display: block;
  width: 4px;
  background: #FF4612;
  height: 100%;
  margin-left: 3rem;
}
.whitepaper-quote quote {
  display: block;
  margin-bottom: 1rem;
}

.cv-header {
  padding: 10rem 1rem;
}
@media (min-width: 768px) {
  .cv-header {
    padding: 10rem 4rem;
  }
}
.cv-header:before {
  background: none;
}
.cv-header .page-title {
  font-size: 2.5rem;
  max-width: 35.5rem;
  margin-bottom: 1.25rem;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}
@media (min-width: 480px) {
  .cv-header .page-title {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .cv-header .page-title {
    font-size: 4rem;
  }
}
.cv-header .page-subtitle {
  font-weight: bold;
  font-size: 1.625rem;
}

.landing-commvault {
  max-width: 75rem;
  margin: 0 auto;
}
.landing-commvault .button:focus {
  outline: unset;
}

.onboarding-block .onboarding-header {
  margin-bottom: 0;
  line-height: 1.3;
  font-size: 2.5rem;
  font-weight: bold;
  color: #FF4612;
  text-align: center;
}
@media (min-width: 600px) {
  .onboarding-block .onboarding-header {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .onboarding-block .onboarding-header {
    font-size: 3rem;
  }
}
@media (min-width: 1000px) {
  .onboarding-block .onboarding-header {
    text-align: left;
  }
}

.card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 45rem;
  margin: 0 auto;
  margin-bottom: 4.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 600px) {
  .card-row {
    max-width: 55rem;
  }
}
@media (min-width: 1000px) {
  .card-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
  }
}

.card-block {
  max-width: 25rem;
  width: 100%;
  padding: 1.75rem 0.5rem 1.25rem;
  margin-top: 2rem;
  background-color: #FFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px 4px rgba(138, 138, 138, 0.2);
          box-shadow: 0 2px 5px 4px rgba(138, 138, 138, 0.2);
  text-align: center;
}
@media (min-width: 600px) {
  .card-block {
    max-width: 15rem;
    margin-top: 0;
  }
}
@media (min-width: 1000px) {
  .card-block {
    padding: 2.5rem 0.625rem 1.875rem;
  }
}
.card-block h3 {
  margin-top: 1.875rem;
  min-height: 3.5rem;
  margin-bottom: 0;
}
.card-block p {
  margin-bottom: 0;
  line-height: 1.1;
  padding-bottom: 1rem;
}
@media (min-width: 480px) {
  .card-block p {
    min-height: 7.5rem;
    padding-bottom: 0;
  }
}

.email-card {
  display: none;
}
@media (min-width: 1000px) {
  .email-card {
    display: block;
    max-width: 19.5rem;
    padding: 1.875rem 1.875rem 1.5rem;
    width: 100%;
    background-color: #FF4612;
    z-index: 5;
    text-align: left;
    margin-top: -14rem;
  }
}
.email-card h3 {
  font-size: 1.625rem;
  color: #FFF;
  line-height: 1.3;
  margin-top: 0;
}
.email-card #gform_confirmation_wrapper_22 #gform_confirmation_message_22 {
  color: #FFF;
  padding-top: 4.5rem;
  padding-bottom: 5rem;
}

.email-card-mobile {
  max-width: 25rem;
  margin: 0 auto 5rem;
  padding: 1rem;
  background-color: #FF4612;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px 4px rgba(138, 138, 138, 0.2);
          box-shadow: 0 2px 5px 4px rgba(138, 138, 138, 0.2);
}
@media (min-width: 1000px) {
  .email-card-mobile {
    display: none;
  }
}
.email-card-mobile h3 {
  color: #FFF;
  text-align: center;
}

::-webkit-input-placeholder {
  opacity: 0.3;
}

::-moz-placeholder {
  opacity: 0.3;
}

:-ms-input-placeholder {
  opacity: 0.3;
}

::-ms-input-placeholder {
  opacity: 0.3;
}

::placeholder {
  opacity: 0.3;
}

.commvault-form_wrapper {
  margin-bottom: 0 !important;
}
.commvault-form_wrapper li {
  padding-right: 0 !important;
}
.commvault-form_wrapper .gfield_label {
  color: #FFF;
  font-size: 0.875rem !important;
}
.commvault-form_wrapper .gfield_required {
  display: none;
}
.commvault-form_wrapper .ginput_container {
  margin-top: 0 !important;
}
.commvault-form_wrapper .ginput_container input, .commvault-form_wrapper .ginput_container textarea {
  border-radius: 5px;
  border: 1px solid #4A4A4A !important;
}
.commvault-form_wrapper .top_label input.medium,
.commvault-form_wrapper .top_label select.medium {
  width: 100% !important;
}
.commvault-form_wrapper textarea.small {
  margin: 0 !important;
}
.commvault-form_wrapper .gform_button {
  background-color: #4A4A4A;
  width: 100% !important;
  margin-right: 0 !important;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 1rem 0;
}
.commvault-form_wrapper .gform_button:hover {
  color: #FFF;
  background-color: #565557;
}
.commvault-form_wrapper .gform_footer {
  padding: 0 !important;
}

.card-icon {
  display: inline-block;
}
.card-icon svg {
  height: 4.375rem;
}
.card-icon svg g {
  fill: #FF4612 !important;
}
.card-icon svg path {
  fill: #FF4612 !important;
}

.mglass-icon svg {
  width: 5.125rem;
}

.cloud-icon svg {
  width: 7.5rem;
}

.gears-icon svg {
  width: 4.625rem;
}

.lock-icon svg {
  width: 3.375rem;
}

.bag-icon svg {
  width: 4.25rem;
}

.cloud-data-block {
  margin: 0 auto 5rem;
}
.cloud-data-block .orange-bg {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .cloud-data-block .orange-bg {
    background-size: contain;
  }
}
.cloud-data-block .cloud-data-header {
  max-width: 62.5rem;
  padding-top: 4.25rem;
  padding-bottom: 4.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #FFF;
  margin: 0 auto;
  line-height: 1.3;
}
@media (min-width: 480px) {
  .cloud-data-block .cloud-data-header {
    font-size: 2.5rem;
  }
}
@media (min-width: 768px) {
  .cloud-data-block .cloud-data-header {
    font-size: 3rem;
    padding-bottom: 8.25rem;
  }
}
.cloud-data-block .card-row {
  margin: 0 auto;
  max-width: 45rem;
}
@media (min-width: 600px) {
  .cloud-data-block .card-row {
    max-width: 65rem;
  }
}
@media (min-width: 768px) {
  .cloud-data-block .card-row {
    margin: -6rem auto 0;
  }
}
@media (min-width: 1023px) {
  .cloud-data-block .card-row {
    margin: -4rem auto 0;
  }
}
.cloud-data-block .card-block {
  max-width: 20rem;
  margin: 2rem auto 0;
}
@media (min-width: 768px) {
  .cloud-data-block .card-block {
    max-width: 15rem;
    margin: 0 auto;
  }
}
.cloud-data-block .card-block p {
  min-height: unset;
  padding-bottom: 1rem;
}
@media (min-width: 480px) {
  .cloud-data-block .card-block p {
    min-height: 7.5rem;
    padding-bottom: 0;
  }
}
.cloud-data-block .keep-overlap {
  margin: -2rem auto 0;
}
@media (min-width: 768px) {
  .cloud-data-block .keep-overlap {
    margin: -6rem auto 0;
  }
}
@media (min-width: 1023px) {
  .cloud-data-block .keep-overlap {
    margin: -4rem auto 0;
  }
}
@media (min-width: 504px) {
  .cloud-data-block .keep-overlap-tablet {
    margin: -2rem auto 0;
  }
}
@media (min-width: 768px) {
  .cloud-data-block .keep-overlap-tablet {
    margin: -6rem auto 0;
  }
}
@media (min-width: 1023px) {
  .cloud-data-block .keep-overlap-tablet {
    margin: -4rem auto 0;
  }
}

.qa-block {
  max-width: 50rem;
  margin: 0 auto 5rem;
}
.qa-block .qa-header {
  font-weight: normal;
  font-size: 1.5rem;
  color: #FF4612;
}
.qa-block .qa-content h1, .qa-block .qa-content p {
  line-height: 1.3;
}
.qa-block .qa-content h1 {
  margin-bottom: 0;
  font-size: 1.5rem;
}
@media (min-width: 480px) {
  .qa-block .qa-content h1 {
    font-size: 1.75rem;
  }
}
@media (min-width: 768px) {
  .qa-block .qa-content h1 {
    font-size: 2.25rem;
  }
}
.qa-block .qa-content p {
  margin-bottom: 2.5rem;
}

.more-questions-block {
  max-width: 62.5rem;
  margin: 0 auto 2.5rem;
  background-color: #FF4612;
  border-radius: 5px;
  text-align: center;
  -webkit-box-shadow: 0 22px 11px -20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 22px 11px -20px rgba(0, 0, 0, 0.5);
}
.more-questions-block .mq-content {
  padding-top: 2.375rem;
  padding-bottom: 3.25rem;
}
.more-questions-block .mq-header {
  color: #FFF;
  line-height: 1.3;
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
}
@media (min-width: 480px) {
  .more-questions-block .mq-header {
    font-size: 3rem;
  }
}
.more-questions-block .button.white {
  padding: 1.1rem 2.3rem;
  font-size: 1.25rem;
  border: 2px solid #FFF;
}
.more-questions-block .button.white:hover {
  background-color: #FF4612;
  color: #FFF;
}