{% extends "base.twig" %}
{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="assessment-landing-info global-landing-info-container">
		<div class="resource-info corner-circle-box resource-info--half left-circuit-bg">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">History of Eagle</div>
				<div class="resource-info__description">{{ post.history_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('history_link') }}" class="button large">Learn More</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--red resource-info__icon--image bg-cover-center" style="background-image: url('{{ theme.link }}/static/images/history.jpg');">&nbsp;</div>
		</div>
		<div class="resource-info corner-circle-box resource-info--half left-circuit-bg">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">Partners</div>
				<div class="resource-info__description">{{ post.partners_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('partners_link') }}" class="button large">Learn More</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--red resource-info__icon--image" style="background-image: url('{{ theme.link }}/static/images/partners.jpg');">&nbsp;</div>
		</div>
	</div>
{% endblock %}