{% extends "base.twig" %}
{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="assessment-landing-info global-landing-info-container">
		<div class="resource-info corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">Eagle Recon</div>
				<div class="resource-info__description">{{ post.eagle_recon_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('eagle_recon_link') }}" class="button large">Get Eagle Recon</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--red resource-info__icon--image" style="background-image: url('{{ theme.link }}/static/images/server-guy.jpg');">&nbsp;</div>
		</div>
		<div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">Storage Assessment</div>
				<div class="resource-info__description">{{ post.storage_assessment_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('storage_assessment_link') }}" class="arrow">Learn More</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--blue"><img src="{{ theme.link }}/static/images/storage.svg" alt="Storage" /></div>
		</div>
		<div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">Backup Assessment</div>
				<div class="resource-info__description">{{ post.backup_assessment_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('backup_assessment_link') }}" class="arrow">Learn More</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--blue"><img src="{{ theme.link }}/static/images/backup.svg" alt="Backup" /></div>
		</div>
		<div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">DR Planning</div>
				<div class="resource-info__description">{{ post.dr_planning_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('dr_planning_link') }}" class="arrow">Learn More</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--blue"><img src="{{ theme.link }}/static/images/dr-planning.svg" alt="D.R. Planning" /></div>
		</div>
		<div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">VM Assessment</div>
				<div class="resource-info__description">{{ post.vm_assessment_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('vm_assessment_link') }}" class="arrow">Learn More</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--blue"><img src="{{ theme.link }}/static/images/vm.svg" alt="V.M." /></div>
		</div>
	</div>
{% endblock %}