{% block html_head_container %}
	{% include 'html-header.twig' %}
	{% block head %}
		{# Include extra stuff in the document head #}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
			{% block header %}
				<header id="header" class="header"><!-- #header open -->
					<div class="nav-wrapper container">

						<nav id="nav-main" role="navigation" class="is-hidden-touch">
							<a id="header-logo" href="/"><img src="{{ theme.link }}/static/images/logo.png" alt="Eagle Technologies Logo" /><span class="screen-reader-text">{{ site.name }}</span></a>
							<div class="menu-toggle-container is-hidden-desktop">
								<button id="menu-toggle" class="fa fa-bars nav-toggle button"><span>Menu</span></button>
							</div>
							<div class="nav-inner-wrap">
								{{ function('eatwheat_render_primary_menu') }}
								<a href="https://twitter.com/techbyeagle" class="social-link twitter" target="_blank"><span class="screen-reader-text">Eagle Technologies Twitter</span>{% include 'twitter.svg' %}</a>
								<a href="https://www.linkedin.com/company/eagle-software-inc-/" class="social-link linkedin" target="_blank"><span class="screen-reader-text">Eagle Technologies LinkedIn</span>{% include 'linkedin.svg' %}</a>
								<a href="https://www.youtube.com/channel/UCQj7Q3BeDpOzNSN9bOYZf5w" class="social-link youtube" target="_blank"><span class="screen-reader-text">Eagle Technologies YouTube</span>{% include 'youtube.svg' %}</a>
								<a href="https://www.facebook.com/techbyeagle/" class="social-link facebook" target="_blank"><span class="screen-reader-text">Eagle Technologies Facebook</span><span class="fa fa-facebook"></span></a>
								<a href="/contact-us/" class="button nav-button">Contact Us</a>
							</div>
						</nav>
					</div>
					{% block inside_header %}
					{% endblock %}
				</header><!-- #header close -->
			{% endblock %}

			{% block below_header %}
			{% endblock %}

			{% block above_content %}
			{% endblock %}

			<section id="content" role="main" class="content-wrapper content container">
				<div id="vue-wrapper">
				{% block page_header %}
				{% endblock %}
				{% block content %}
					Sorry, no content
				{% endblock %}
				{% if sidebar %}
					<aside class="layout-sidebar">
						{{sidebar}}
					</aside>
				{% endif %}
				</div> <!-- #vue-wrapper -->
			</section>

			{% block below_content %}
			{% endblock %}

			{% block above_footer %}
				{% if footer_cta %}
					<div class="footer-call-to-action footer-call-to-action--{{ footer_cta.color }} container">
						<div class="footer-call-to-action-info">
							<div class="footer-call-to-action-title">{{ footer_cta.title }}</div>
							<div class="footer-call-to-action-subtitle">{{ footer_cta.subtitle }}</div>
							<a class="button {{ footer_cta.color }}" href="{{ footer_cta.link }}">Contact Us</a>
						</div>
						<img class="footer-call-to-action-image" src="{{ TimberImage( footer_cta.image ).src }}" alt="{{ TimberImage( footer_cta.image ).alt }}" />
					</div>
				{% endif %}
			{% endblock %}

			{% block footer %}
				<footer id="footer">
					{% block inside_footer %}
					{% endblock %}
					<div class="container footer-inner-wrap">
						<div class="footer-logo">
							<img src="{{ theme.link }}/static/images/footer-logo.png" alt="Eagle Technologies - People Making Technology Easy" />
						</div>
						<div class="footer-email-contact"><span class="fa fa-envelope"></span>&nbsp; Email Us: <a href="mailto:contact@eagleinc.com">contact@eagleinc.com</a></div>
						<a href="tel:18004775432" class="button footer-phone-contact"><span class="fa fa-phone"></span>&emsp; Call Us: 800-477-5432</a>
					</div>
					<div class="agency container centered-text">Site Created by <a href="https://weare502.com" rel="nofollow">502 - A Strategic Marketing Agency</a></div>
				</footer>
			{% endblock %}
			
			<div id="eagle-fullscreen" class="magnific mfp-hide">
				{% block fullscreen_popup %}
				{% endblock %}
			</div>
	
		{% block footer_scripts %}
			{# Include extra stuff in the document footer, JS etc #}
		{% endblock %}
		{{ function('wp_footer') }}
		<script type="text/javascript">
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
				})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
				ga('create', 'UA-39560903-2', {'allowAnchor': true});
				ga('send', 'pageview', { 'page': location.pathname + location.search + location.hash});
			
				(function() { var zanalytics_ = document.createElement('script');
				zanalytics_.type = 'text/javascript';
				zanalytics_.async = false;
				zanalytics_.src = ('https:' == document.location.protocol ? 'https://s3.amazonaws.com/' : 'http://') + 'dynamic.ziftsolutions.com/analytics/8abd19a653bda6960153be660b670c95.js';
				document.getElementsByTagName('script')[0].parentNode.appendChild(zanalytics_);
			})();
		</script>
		<script type="text/javascript">
			(function(h,o,t,j,a,r){
				h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
				h._hjSettings={hjid:1280158,hjsv:6};
				a=o.getElementsByTagName('head')[0];
				r=o.createElement('script');r.async=1;
				r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
				a.appendChild(r);
			})(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
		</script>
		<script src="https://use.typekit.net/guo3yek.js"></script>
		<script>try{Typekit.load({ async: true });}catch(e){}</script>
		<script async src='https://tag.simpli.fi/sifitag/e98dc510-fb34-0136-de27-06a9ed4ca31b'></script>
		<img src="https://j.mrpdata.net/u.gif?g=oa1JSM+MlzxgyrbyrKTTDrBELljhl424lBBjmTqs1ow=&pd=eyJ3ZWJ0cmFja2VyIjoiMi4wIn3e4bPXaJOLfs6WjnYOMJNA" width="1" height="1" alt="" style="display:none;">
	</body>
</html>
