{% extends "base.twig" %}
{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="landing-page-cloud">
		<div class="landing-page-tab-nav">
			<button class="landing-page-tab selected" data-target="backups">
				<div class="landing-page-tab__image">{{ source('images/backup-drive.svg') }}</div>
				<div class="landing-page-tab__title">Backups</div>
			</button>
			<button class="landing-page-tab" data-target="offsite-backups">
				<div class="landing-page-tab__image">{{ source('images/offsite-backups.svg') }}</div>
				<div class="landing-page-tab__title">Offsite Backups</div>
			</button>
			<button class="landing-page-tab" data-target="replication">
				<div class="landing-page-tab__image">{{ source('images/replication.svg') }}</div>
				<div class="landing-page-tab__title">Replication</div>
			</button>
			<button class="landing-page-tab" data-target="compliance">
				<div class="landing-page-tab__image">{{ source('images/compliance.svg') }}</div>
				<div class="landing-page-tab__title">Compliance</div>
			</button>
		</div>
		<div class="landing-page-tabs">
			<div class="landing-page-tab-content selected" id="backups">{{ post.get_field('backups') }}</div>
			<div class="landing-page-tab-content" id="offsite-backups">{{ post.get_field('offsite_backups') }}</div>
			<div class="landing-page-tab-content" id="replication">{{ post.get_field('replication') }}</div>
			<div class="landing-page-tab-content" id="compliance">{{ post.get_field('compliance') }}</div>
		</div>
	</div>
	<div class="global-widget-cta-banner light-gray-bg right-circuit-bg">
		<div class="global-widget-cta-banner__wrapper">
			<div class="global-widget-cta-banner__title">{{ post.get_field('cta_text') }}</div>
			<div><a href="{{ post.get_field('cta_link') }}" class="global-widget-cta-banner__link button">Learn More</a></div>
		</div>
		<img class="global-widget-cta-banner__image" src="{{ TimberImage( post.get_field('cta_image') ).src('large') }}" />
	</div>
{% endblock %}