{% extends 'base.twig' %}

{% block page_header %}
	<div class="page-header container bg-cover-center cv-header" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
<section class="landing-commvault">
	<div class="onboarding-block">
		<h1 class="onboarding-header">3 Simple Steps to the Eagle Cloud</h1>

		{# first set of cards #}
		<div class="card-row">
			<div class="card-block">
				<span class="card-icon mglass-icon">{% include './static/images/mglass.svg' %}</span>
				<h3>Identify your data</h3>
				<p>Identify your most critical data sets with the assistance of Eagle's Commvault experts.</p>
			</div>

			<div class="card-block">
				<span class="card-icon cloud-icon">{% include './static/images/cloud.svg' %}</span>
				<h3>Connect to the Eagle Cloud</h3>
				<p>Eagle will help you setup a new Commvault plan to protect your critical data.
					<br/><br/>
					A new Eagle Cloud library will be created for you.
				</p>
			</div>

			<div class="card-block">
				<span class="card-icon gears-icon">{% include './static/images/gears.svg' %}</span>
				<h3>Schedule It</h3>
				<p>Schedule when you want your data to move to Eagle's Cloud.</p>
			</div>

			<div class="card-block email-card">
				<h3>Sign up today to claim your free storage!</h3>
				<div>{{ function('call_gform') }}</div>
			</div>
		</div> {# /.card-row #}

		<div class="email-card-mobile">
			<h3>Sign up today to claim your free storage!</h3>
			<div>{{ function('call_gform') }}</div>
		</div>
	</div> {# /.onboarding-block #}

	<div class="cloud-data-block">
		<div class="orange-bg" style="background-image: url('{{ theme.link }}/static/images/orange-data-map.jpg');">
			<h1 class="cloud-data-header">Why Choose Eagle's Cloud for your most critical data?</h1>
		</div>

		{# second set of cards #}
		<div class="card-row">
			<div class="card-block keep-overlap">
				<span class="card-icon gears-icon">{% include './static/images/gears.svg' %}</span>
				<h3>Maintenance</h3>
				<p>Onboarding, monitoring and maintenance is performed by Eagle's dedicated Commvault Experts.</p>
			</div>

			<div class="card-block keep-overlap-tablet">
				<span class="card-icon lock-icon">{% include './static/images/secure-archive.svg' %}</span>
				<h3>Encryption</h3>
				<p>All data is encrypted before leaving your location, transmitted securely and stored via distributed objects inside Eagle’s resilient datacenter.</p>
			</div>

			<div class="card-block">
				<span class="card-icon mglass-icon">{% include './static/images/mglass.svg' %}</span>
				<h3>Recovery</h3>
				<p>In case of a data recovery event, an Eagle appliance can be provided to simplify the restore process.</p>
			</div>

			<div class="card-block">
				<span class="card-icon bag-icon">{% include './static/images/bag-icon.svg' %}</span>
				<h3>Experience</h3>
				<p>As the Midwest’s premier Commvault partner, with extensive cloud backup and recovery experience, you can be confident your data is secure in Eagle’s cloud.</p>
			</div>
		</div> {# /.card-row #}
	</div> {# /.cloud-data-block #}

	<div class="qa-block">
		<h2 class="qa-header">Q &amp; A</h2>
		<div class="qa-content">
			<h1>How is my data stored?</h1>
			<p>Your data is stored across multiple S3 nodes in the Eagle Cloud. Objects are protected with erasure coding, which prevents the loss of data from multiple node failures. In addition, objects are checked for consistency periodically and during each read.</p>
		</div>

		<div class="qa-content">
			<h1>How is my data transmitted to the Cloud?</h1>
			<p>Data is transmitted over the S3 protocol (via HTTP/HTTPS). Before sending any data to the Eagle Cloud, Commvault encrypts the data using AES-256 (or may preserve the encryption mode in the source copy). Eagle ensures that your data is already encrypted before it leaves your site.</p>
		</div>

		<div class="qa-content">
			<h1>How am I protected from ransomware?</h1>
			<p>By keeping your valuable data in the cloud, it’s out of ransomware's reach. Proactively archiving your important data in the Cloud, allows you to reduce the chances of an on-site ransomware attack encrypting your local archives in addition to personal computers.</p>
		</div>

		<div class="qa-content">
			<h1>How is my data protected after 90 days?</h1>
			<p>Thirty days before your trial is up, your Eagle sales representative will be in touch to discuss the next steps. If you decide not to move forward with these services, the data will be securely erased when the 90 days are up.</p>
		</div>
	</div> {# /.qa-block #}

	<div class="more-questions-block">
		<div class="mq-content">
			<h1 class="mq-header">Have more questions?</h1>
			<a class="button white" href="mailto:cloud@eagleinc.com">Contact Us</a>
		</div>
	</div>
</section>
{% endblock %}