{% extends "base.twig" %}

{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="contact-form-selection">
		<div class="contact-cta-cards global-cta-cards">
			<div class="cta-card selected">
				<img src="{{theme.link}}/static/images/solutions.svg" class="cta-card__icon" alt="Solutions Icon" />
				<div class="cta-card__title">Solutions</div>
				<button class="button contact-form-selection-button" data-target="solutions-form">Select</button>
			</div>
			<div class="cta-card">
				<img src="{{theme.link}}/static/images/services.svg" class="cta-card__icon" alt="Services Icon" />
				<div class="cta-card__title">Services</div>
				<button class="button contact-form-selection-button" data-target="services-form">Select</button>
			</div>
			<div class="cta-card">
				<img src="{{theme.link}}/static/images/green-headphones.svg" class="cta-card__icon" alt="Support Icon" />
				<div class="cta-card__title">Support</div>
				<button class="button contact-form-selection-button" data-target="support-form">Select</button>
			</div>
		</div>
	</div>
	<noscript>You must enable JavaScript to submit a support request.</noscript>
	<div class="contact-forms">
		<div id="solutions-form" class="contact-form-option selected">
			<div>{% filter shortcodes %} [gravityform id="{{ post.get_field('solutions_form').id }}" title="false" description="false"] {% endfilter %}</div>
		</div>
		<div id="services-form" class="contact-form-option">
			<div>{% filter shortcodes %} [gravityform id="{{ post.get_field('services_form').id }}" title="false" description="false"] {% endfilter %}</div>
		</div>
		<div id="support-form" class="contact-form-option">
			<div>{% filter shortcodes %} [gravityform id="{{ post.get_field('support_form').id }}" title="false" description="false"] {% endfilter %}</div>
		</div>
	</div>
{% endblock %}