{% extends "base.twig" %}
{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="landing-page-data-management">
		<div class="landing-page-tab-nav">
			<button class="landing-page-tab selected" data-target="backups">
				<div class="landing-page-tab__image">{{ source('images/backup-drive.svg') }}</div>
				<div class="landing-page-tab__title">Backups</div>
			</button>
			<button class="landing-page-tab" data-target="archive">
				<div class="landing-page-tab__image">{{ source('images/archive.svg') }}</div>
				<div class="landing-page-tab__title">Archive</div>
			</button>
			<button class="landing-page-tab" data-target="secure-archive">
				<div class="landing-page-tab__image">{{ source('images/secure-archive.svg') }}</div>
				<div class="landing-page-tab__title">Secure Archive</div>
			</button>
			<button class="landing-page-tab" data-target="compliance">
				<div class="landing-page-tab__image">{{ source('images/compliance.svg') }}</div>
				<div class="landing-page-tab__title">Compliance</div>
			</button>
			<button class="landing-page-tab" data-target="business-continuity">
				<div class="landing-page-tab__image">{{ source('images/business-continuity.svg') }}</div>
				<div class="landing-page-tab__title">Business Continuity</div>
			</button>
			<button class="landing-page-tab" data-target="ediscovery">
				<div class="landing-page-tab__image">{{ source('images/ediscovery.svg') }}</div>
				<div class="landing-page-tab__title">E-Discovery</div>
			</button>
			<button class="landing-page-tab" data-target="data-analytics">
				<div class="landing-page-tab__image">{{ source('images/data-analytics.svg') }}</div>
				<div class="landing-page-tab__title">Data Analytics</div>
			</button>
		</div>
		<div class="landing-page-tabs">
			<div class="landing-page-tab-content selected" id="backups">{{ post.get_field('backups') }}</div>
			<div class="landing-page-tab-content" id="archive">{{ post.get_field('archive') }}</div>
			<div class="landing-page-tab-content" id="secure-archive">{{ post.get_field('secure_archive') }}</div>
			<div class="landing-page-tab-content" id="compliance">{{ post.get_field('compliance') }}</div>
			<div class="landing-page-tab-content" id="business-continuity">{{ post.get_field('business_continuity') }}</div>
			<div class="landing-page-tab-content" id="ediscovery">{{ post.get_field('ediscovery') }}</div>
			<div class="landing-page-tab-content" id="data-analytics">{{ post.get_field('data_analytics') }}</div>
		</div>
	</div>

	{% if post.get_field('cta_text') %}
	<div class="global-widget-cta-banner light-gray-bg right-circuit-bg">
		<div class="global-widget-cta-banner__wrapper">
			<div class="global-widget-cta-banner__title">{{ post.get_field('cta_text') }}</div>
			<div><a href="{{ post.get_field('cta_link') }}" class="global-widget-cta-banner__link button">Learn More</a></div>
		</div>
		<img class="global-widget-cta-banner__image" src="{{ TimberImage( post.get_field('cta_image') ).src('large') }}" />
	</div>
	{% endif %}
{% endblock %}