{% extends "base.twig" %}

{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="archive-wrapper">
		<div class="archive-sidebar">
			<div class="archive-facet__wrapper">
				<div class="archive-facet__title h2">Categories</div>
				{{ '[facetwp facet="download_category"]'|shortcodes }}
			</div>
		</div>
		<div class="archive-content facetwp-template">
			{% for download in posts %}
				<div class="download-archive-item">
					{% set file = download.get_field('file') %}
					{% set size = function( 'size_format', function('filesize', function('get_attached_file', file.ID ) ) ) %}
					{% if download.get_field('external_file') %}
						{# <a href="{{ download.get_field('external_file') }}" target="_blank" rel="noopener">{{ download.title }}</a> #}
						<a href="/?download={{ download.ID }}" target="_blank" rel="noopener">
							<div class="download-meta">
								{{ download.terms('download_category')|join(', ') }} <span class="file-size">{{ size }}</span>
							</div>
							<div class="download-title">{{ download.title }}</div>
							<div class="view-link">View &rarr;</div>
						</a>
					{% else %}
						{# <a href="{{ file.url }}" download="{{ file.filename }}">{{ download.title }} - ({{size}})</a> #}
						<a href="/?download={{ download.ID }}" target="_blank">
							<div class="download-meta">
								{{ download.terms('download_category')|join(', ') }} <span class="file-size">{{ size }}</span>
							</div>
							<div class="download-title">{{ download.title }}</div>
							<div class="view-link">View &rarr;</div>
						</a>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}