{% extends "base.twig" %}

{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
		{% set form = post.get_field('events_newsletter') %}
		{% if form %}
			{% filter shortcodes %}
				[gravityform id="{{ form.id }}" title="false" description="false" ajax="false"]
			{% endfilter %}
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="archive-wrapper archive-wrapper--has-sidebar">
		<div class="archive-sidebar">
			<div class="archive-facet__wrapper">
				<div class="archive-facet__title h2">Events by City</div>
				{{ '[facetwp facet="event_city"]'|shortcodes }}
			</div>
		</div>
		<div class="archive-content facetwp-template">
			{% for event in posts %}
				<div class="event-archive-item corner-circle-box left-circuit-bg">
					<div class="event-archive-item__info">
						<div class="event-archive-item__meta">{{ event.start_date|date('F j') }} | {{ event.terms('event_category')|join(', ') }} | {{ event.terms('event_location')|join(', ')}}</div>
						<h2 class="event-archive-item__title"><a href="{{ event.link }}">{{ event.title }}</a></h2>
						<p>{{ event.preview(25).read_more(false) }}</p>
						<a href="{{ event.link }}" class="arrow">Learn More</a>
					</div>
					<div class="event-archive-item__icon event-archive-item__icon--image" style="background-image: url('{{ TimberImage(event.thumbnail).src('large') }}');">&nbsp;</div>
				</div>
			{% endfor %}
			<p>{{ function('facetwp_display', 'pager', true ) }}</p>
			{% if posts is empty %}
				<p>Sorry, there are no events at this time. Please check back later.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}