{% extends "base.twig" %}

{% block content %}
<div class="home-slider">
	{% for slide in post.get_field('home_slides') %}
		<div class="slide" style="background-image: url('{{ TimberImage(slide.image).src('xlarge') }}');">
			<div class="slide-title">{{ slide.title }}</div>
			<div class="slide-subtitle">{{ slide.subtitle }}</div>
			<div class="slide-excerpt">{{ slide.excerpt }}</div>
			<a href="{{ slide.link }}" class="slide-link button large blue">{{ slide.link_text }}</a>
		</div>
	{% endfor %}
</div>
<div class="home-cta-cards">
	<div class="cta-card">
		<img src="{{theme.link}}/static/images/servers.svg" class="cta-card__icon" alt="Storage Icon" />
		<div class="cta-card__title">Storage</div>
		<p>{{ post.get_field('storage_short_description') }}</p>
		<a href="{{ post.get_field('storage_link') }}" class="arrow">Learn More</a>
	</div>
	<div class="cta-card">
		<img src="{{theme.link}}/static/images/gears.svg" class="cta-card__icon" alt="Data Management Icon" />
		<div class="cta-card__title">Data Management</div>
		<p>{{ post.get_field('data_management_short_description') }}</p>
		<a href="{{ post.get_field('data_management_link') }}" class="arrow">Learn More</a>
	</div>
	<div class="cta-card">
		<img src="{{theme.link}}/static/images/virtual-servers.svg" class="cta-card__icon" alt="Virtualization Icon" />
		<div class="cta-card__title">Virtualization</div>
		<p>{{ post.get_field('virtualization_short_description') }}</p>
		<a href="{{ post.get_field('virtualization_link') }}" class="arrow">Learn More</a>
	</div>
	<div class="cta-card">
		<img src="{{theme.link}}/static/images/cloud.svg" class="cta-card__icon" alt="Cloud Solutions Icon" />
		<div class="cta-card__title">Cloud Solutions</div>
		<p>{{ post.get_field('cloud_short_description') }}</p>
		<a href="{{ post.get_field('cloud_link') }}" class="arrow">Learn More</a>
	</div>
</div>

{% if upcoming_events %}
<div class="home-upcoming-events">
	{% for event in upcoming_events[0:1] %}
		<div class="home-featured-event" style="background-image: url('{{ TimberImage(event.thumbnail).src('xlarge') }}');">
			<div class="featured-event-meta">
				{{ event.get_field('start_time') }} &emsp;|&emsp; {{ event.start_date|date('M j') }} &emsp;|&emsp; {{ event.terms('event_location')|join(', ') }}
			</div>
			<div class="featured-event-title">
				<span class="fa fa-calendar"></span> {{ event.title }}
			</div>
			<p class="featured-event-description">{{ event.content|excerpt(25) }}</p>
			<a href="{{ event.link }}" class="arrow featured-event-link">Learn More</a>
			{# <div class="featured-event-disclaimer">To register for this complimentary event, please fill the information below. Space is limited—be sure to register today!</div> #}
			{# <div>{% filter shortcodes %} [gravityform id="{{ event.get_field('signup_form').id }}" title="false" description="false"] {% endfilter %}</div> #}
		</div>
	{% endfor %}
	<div class="home-upcoming-events-list">
		<div class="home-upcoming-events-title-wrapper"><span class="bold-text home-upcoming-events-list-title">Upcoming Events</span> <a href="{{ all_events_link }}">View All Events</a></div>
		<ul>
			{% for event in upcoming_events[1:] %}
				<li class="home-upcoming-event">
					<div class="event-date">
						<span class="event-date-month">{{ event.start_date|date('M') }}</span>
						<span class="event-date-day">{{ event.start_date|date('d') }}</span>
					</div>
					<div class="event-details-wraper">
						<div class="event-location">{{ event.terms('event_category')|join(', ') }}</div>
						<div class="event-title"><a href="{{ event.link }}">{{ event.title }}</a></div>
						<div class="event-excerpt">{{ event.content|excerpt(15) }}</div>
						<div class="event-link"><a href="{{ event.link }}">Learn More</a></div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}

<div class="left-circuit-bg light-gray-bg home-contact-support">
	<div class="inner-wrap">
		<div class="h1">Support You Can Rely On</div>
		<p class="red-text light-text">Our helpful support team is available 24 hours, 7 days a week,  365 days a year to assist you. Choose from the options below:</p>
		<nav class="support-nav">
			<a href="{{ post.get_field('how_to_articles_link') }}"><span class="fa fa-files-o"></span> How-To Articles</a>
			<a href="{{ post.get_field('email_link') }}"><span class="fa fa-envelope"></span> Send An Email</a>
			<a href="{{ post.get_field('phone_link') }}"><span class="fa fa-phone"></span> Call Us</a>
		</nav>
	</div>
	<div class="circle circle--green green-bg icon"><img src="{{ theme.link }}/static/images/headset.svg" alt="headset icon" /></div>
</div>

<div class="partners">
	<div class="partners__circle hide-mobile">
		{% for partner in options.partners %}
			<a class="partners__logo" target="_blank" rel="noopener" href="{{ partner.partner_link }}">
				<img src="{{ TimberImage(partner.partner_logo).src }}" alt="{{ TimberImage(partner.partner_logo).alt }}" />
			</a>
		{% endfor %}
	</div>
	<div class="partners__info">
		<div class="partners__info-title">We Only Work With the Best</div>
		<div class="partners__info-subtitle">Finding the best data center solution for your business  needs has become a science for us.</div>
		<div class="partners__info-description">By maintaining strategic relationships with our trusted vendors, we have the expertise to integrate and support these solutions with optimum results.</div>
		<div class="partners__info-buttons">
			<a href="{{ post.get_field('get_started_link') }}" class="button large">Let's Get Started</a>
			<a href="{{ post.get_field('case_studies_link') }}" class="button white large">View Case Studies</a>
		</div>
	</div>
</div>

{% if testimonials %}
<div class="testimonials">
	<div class="testimonials-slider">
		{% for testimonial in testimonials %}
			<div class="testimonial" style="background-image: url('{{ TimberImage(testimonial.thumbnail).src('xlarge') }}');">
				<div class="testimonial-logo"><img src="{{ TimberImage(testimonial.company_logo).src('large') }}" alt="{{ testimonial.source }}" /></div>
				<blockquote class="testimonial-quote">
					<p>“{{ testimonial.quote }}”</p>
					<cite>- {{ testimonial.source }}</cite>
				</blockquote>
			</div>
		{% endfor %}
	</div>
</div>
{% endif %}
{% endblock %}