{% extends "base.twig" %}

{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<article class="post-type-{{ post.post_type }} article-wrapper" id="post-{{ post.ID }}">
		<div class="post-content">
			<h2>Early History</h2>
			<p>{{ post.get_field('early_history') }}</p>
			<div class="history__retro-founders">
				<div class="founder">
					<img src="{{ theme.link }}/static/images/jeff-retro.jpg" />
					<span class="founder__name">Jeff Burris</span>
				</div>
				<div class="founder">
					<img src="{{ theme.link }}/static/images/dave-retro.jpg" />
					<span class="founder__name">Dave Hiechel</span>
				</div>
				<div class="founder">
					<img src="{{ theme.link }}/static/images/andy-retro.jpg" />
					<span class="founder__name">Andy Kratzer</span>
				</div>
				<div class="founder">
					<img src="{{ theme.link }}/static/images/milton-retro.jpg" />
					<span class="founder__name">Milton Larson</span>
				</div>
				<div class="founder">
					<img src="{{ theme.link }}/static/images/dale-retro.jpg" />
					<span class="founder__name">Dale Swindler</span>
				</div>
			</div>
			<div class="clearfix u-mb-3">
				<img class="u-mw-30 alignright" src="{{ theme.link }}/static/images/history-success.jpg" />
				<h2>Product Success</h2>
				<p> {{ post.get_field('product_success') }}</p>
			</div>
			<div class="clearfix">
				<img class="u-mw-30 alignleft" src="{{ theme.link }}/static/images/history-server.jpg" /> 
				<h2>Early Pioneers</h2>
				<p>{{ post.get_field('early_pioneers') }}</p>
			</div>
			<div class="clearfix">
				<img class="u-mw-30 alignright" src="{{ theme.link }}/static/images/history.jpg" />
				<h2>Solutions Needed</h2>
				<p> {{ post.get_field('solutions_needed') }}</p>
			</div>
			<div class="history__eagle-now left-circuit-bg-white">
				<h2>Eagle Now</h2>
				<p>{{ post.get_field('eagle_now') }}</p>
				<div class="history__founders">
					<div class="founder">
						<img src="{{ theme.link }}/static/images/jeff.png" />
						<span class="founder__name">Jeff Burris</span>
					</div>
					<div class="founder">
						<img src="{{ theme.link }}/static/images/dave.png" />
						<span class="founder__name">Dave Hiechel</span>
					</div>
					<div class="founder">
						<img src="{{ theme.link }}/static/images/andy.png" />
						<span class="founder__name">Andy Kratzer</span>
					</div>
					<div class="founder">
						<img src="{{ theme.link }}/static/images/milton.png" />
						<span class="founder__name">Milton Larson</span>
					</div>
					<div class="founder">
						<img src="{{ theme.link }}/static/images/dale.png" />
						<span class="founder__name">Dale Swindler</span>
					</div>
				</div>
			</div>
		</div>
	</article>
{% endblock %}