{% extends "base.twig" %}

{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="archive-wrapper archive-wrapper--has-sidebar">
		<div class="archive-sidebar">
			<div class="archive-facet__wrapper">
				<div class="archive-facet__title h2">Categories</div>
				{{ '[facetwp facet="howto_category"]'|shortcodes }}
			</div>
		</div>
		<div class="archive-content facetwp-template">
			{% for howto in posts %}
				<div class="howto-archive-item corner-circle-box left-circuit-bg">
					<div class="howto-archive-item__info">
						<div class="howto-archive-item__meta">{{ howto.terms('howto_category')|join(', ') }}</div>
						<h2 class="howto-archive-item__title"><a href="{{ howto.link }}">{{ howto.title }}</a></h2>
						<p>{{ howto.preview(25).read_more(false) }}</p>
						<a href="{{ howto.link }}" class="arrow">Learn More</a>
					</div>
					<div class="howto-archive-item__icon howto-archive-item__icon--image" style="background-image: url('{{ TimberImage(howto.thumbnail).src('large') }}');">&nbsp;</div>
				</div>
			{% endfor %}
			<p>{{ function('facetwp_display', 'pager', true ) }}</p>
		</div>
	</div>
{% endblock %}