{% extends "base.twig" %}

{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<article class="post-type-{{ post.post_type }} article-wrapper" id="post-{{ post.ID }}">
		<div class="post-content">
			{{ post.content }}
		</div>
	</article>
{% endblock %}