{% extends "base.twig" %}
{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="solutions-partners">
		<div class="h1 centered-text solutions-partners__title">We Only Work With the Best</div>
		<p class="light-text centered-text solutions-partners__subtitle solutions-partners__subtitle--wide">Finding the best data center solution for your business needs has become a science for us. We strive to make technology easy for our customers. We pair the right solutions and services to fit each customer’s unique requirements with the help of our trusted vendors below:</p>
		<hr class="short" />
		<div class="global-widget-partners-grid">
			{% for partner in options.partners %}
				<a class="partners__logo" target="_blank" rel="noopener" href="{{ partner.partner_link }}">
					<img src="{{ TimberImage(partner.partner_logo).src }}" alt="{{ TimberImage(partner.partner_logo).alt }}" />
				</a>
			{% endfor %}
		</div>
	</div>

{% endblock %}