{% extends "base.twig" %}
{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="resources-landing-info">
		<div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">News &amp; Events</div>
				<div class="resource-info__description">{{ post.news_events_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('news_events_link') }}" class="button">View Events</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--green"><img src="{{ theme.link }}/static/images/events.svg" alt="Events" /></div>
		</div>
		<div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">Downloads &amp; Videos</div>
				<div class="resource-info__description">{{ post.downloads_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('downloads_link') }}" class="button">View Downloads</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--blue"><img src="{{ theme.link }}/static/images/downloads.svg" alt="Downloads" /></div>
		</div>
		
		{# <div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">Eagle Data Sheets</div>
				<div class="resource-info__description">{{ post.data_sheets_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('data_sheets_link') }}" class="button">View Data Sheets</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--blue"><img src="{{ theme.link }}/static/images/data-sheets.svg" alt="Data Sheets" /></div>
		</div> #}
		
		<div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">Case Studies / Data Sheets</div>
				<div class="resource-info__description">{{ post.case_studies_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('case_studies_link') }}" class="button">View Case Studies</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--red"><img src="{{ theme.link }}/static/images/case-studies.svg" alt="Case Studies" /></div>
		</div>
		<div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">Eagle Support</div>
				<div class="resource-info__description">{{ post.support_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('support_link') }}" class="button">Get Support</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--green"><img src="{{ theme.link }}/static/images/headphones.svg" alt="Support" /></div>
		</div>
		<div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">How-To Guides</div>
				<div class="resource-info__description">{{ post.how_to_guides_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('how_to_guides_link') }}" class="button">View Guides</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--red"><img src="{{ theme.link }}/static/images/how-to-guides.svg" alt="How-To Guides" /></div>
		</div>
	</div>
{% endblock %}