{% extends "base.twig" %}

{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="services-cta-cards global-cta-cards">
		<div class="cta-card">
			<img src="{{theme.link}}/static/images/assessment.svg" class="cta-card__icon" alt="Assessment Icon" />
			<div class="cta-card__title">Assessment</div>
			<p>{{ post.assessment_short_description }}</p>
			<a href="{{ post.get_field('assessment_link') }}" class="arrow">Learn More</a>
		</div>
		<div class="cta-card">
			<img src="{{theme.link}}/static/images/integration.svg" class="cta-card__icon" alt="Integration Icon" />
			<div class="cta-card__title">Integration</div>
			<p>{{ post.integration_short_description }}</p>
			<a href="{{ post.get_field('integration_link') }}" class="arrow">Learn More</a>
		</div>
		<div class="cta-card">
			<img src="{{theme.link}}/static/images/eagle-watch.svg" class="cta-card__icon" alt="Eagle Watch Icon" />
			<div class="cta-card__title">Eagle Watch</div>
			<p>{{ post.eagle_watch_short_description }}</p>
			<a href="{{ post.get_field('eagle_watch_link') }}" class="arrow">Learn More</a>
		</div>
		<div class="cta-card">
			<img src="{{theme.link}}/static/images/managed-services.svg" class="cta-card__icon" alt="Managed Services Icon" />
			<div class="cta-card__title">Managed Services</div>
			<p>{{ post.managed_services_short_description }}</p>
			<a href="{{ post.get_field('managed_services_link') }}" class="arrow">Learn More</a>
		</div>
	</div>

	{% if upcoming_events %}
	<div class="global-widget-upcoming-events">
		{% for event in upcoming_events[0:1] %}
		<div class="global-widget-featured-event" style="background-image: url('{{ TimberImage(event.thumbnail).src('xlarge') }}');">
			<div class="featured-event-meta">
				{{ event.get_field('start_time') }} &emsp;|&emsp; {{ event.start_date|date('M j') }} &emsp;|&emsp; {{ event.terms('event_location')|join(', ') }}
			</div>
			<div class="featured-event-title">
				<span class="fa fa-calendar"></span> {{ event.title }}
			</div>
			<p class="featured-event-description">{{ event.content|excerpt(25) }}</p>
			<a href="{{ event.link }}" class="arrow featured-event-link">Learn More</a>
			<div class="featured-event-disclaimer">To register for this complimentary event, please fill the information below. Space is limited—be sure to register today!</div>
			<div>{% filter shortcodes %} [gravityform id="{{ event.get_field('signup_form').id }}" title="false" description="false"] {% endfilter %}</div>
		</div>
		{% endfor %}
		<div class="global-widget-upcoming-events-list">
			<div class="global-widget-upcoming-events-title-wrapper">
				<span class="bold-text global-widget-upcoming-events-list-title">Upcoming Events</span> <a href="{{ all_events_link }}">View All Events</a>
			</div>
			<ul>
				{% for event in upcoming_events[1:] %}
					<li class="global-widget-upcoming-event">
						<div class="event-date">
							<span class="event-date-month">{{ event.start_date|date('M') }}</span>
							<span class="event-date-day">{{ event.start_date|date('d') }}</span>
						</div>
						<div class="event-details-wraper">
							<div class="event-location">{{ event.terms('event_category')|join(', ') }}</div>
							<div class="event-title"><a href="{{ event.link }}">{{ event.title }}</a></div>
							<div class="event-excerpt">{{ event.content|excerpt(15) }}</div>
							<div class="event-link"><a href="{{ event.link }}">Learn More</a></div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}

{% endblock %}