{% extends "base.twig" %}

{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
		<div class="page-subtitle">
			{{ post.get_field('start_date')|date('F j') }} - {{ post.terms('event_category')|join(', ') }} - {{ post.terms('event_location')|join(', ') }}
		</div>
	</div>
{% endblock %}

{% block content %}
	<article class="post-type-{{ post.post_type }} article-wrapper" id="post-{{ post.ID }}">
		<div class="post-content">
			{{ post.content }}
		</div>
		{% set form = post.get_field('signup_form') %}
		{% set form_url = post.get_field('signup_form_url') %}
		{% if form_url %}
			<hr class="short">
			<p class="centered-text"><a href="{{ form_url }}" class="button large">Sign-Up Now</a>
		{% else %}
			{% if form %}
				<hr class="short" />
				<h2>Sign-Up Form</h2>
				{% filter shortcodes %}
					[gravityform id="{{ form.id }}" title="false" description="false" ajax="false"]
				{% endfilter %}
			{% endif %}
		{% endif %}
	</article>
{% endblock %}