{% extends "base.twig" %}
{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="solutions-landing-info global-landing-info-container">
		<div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">Storage</div>
				<div class="resource-info__description">{{ post.storage_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('storage_link') }}" class="arrow">Learn More</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--red"><img src="{{ theme.link }}/static/images/storage.svg" alt="Storage" /></div>
		</div>
		<div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">Data Management</div>
				<div class="resource-info__description">{{ post.data_management_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('data_management_link') }}" class="arrow">Learn More</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--red"><img src="{{ theme.link }}/static/images/cogs.svg" alt="Data Management" /></div>
		</div>
		<div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">Virtualization</div>
				<div class="resource-info__description">{{ post.virtualization_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('virtualization_link') }}" class="arrow">Learn More</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--red"><img src="{{ theme.link }}/static/images/virtualization.svg" alt="Virtualization" /></div>
		</div>
		<div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">Cloud Solutions</div>
				<div class="resource-info__description">{{ post.cloud_solutions_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('cloud_solutions_link') }}" class="arrow">Learn More</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--red"><img src="{{ theme.link }}/static/images/cloud-solutions.svg" alt="Cloud Solutions" /></div>
		</div>
	</div>
	<div class="solutions-partners light-gray-bg left-circuit-bg">
		<div class="h1 centered-text solutions-partners__title">We Only Work With the Best</div>
		<p class="red-text centered-text solutions-partners__subtitle">Finding the best data center solution for your business needs has become a science for us.</p>
		<hr class="short" />
		<div class="global-widget-partners-grid">
			{% for partner in options.partners %}
				<a class="partners__logo" target="_blank" rel="noopener" href="{{ partner.partner_link }}">
					<img src="{{ TimberImage(partner.partner_logo).src }}" alt="{{ TimberImage(partner.partner_logo).alt }}" />
				</a>
			{% endfor %}
		</div>
	</div>
	
	{% if upcoming_events %}
	<div class="global-widget-upcoming-events">
		{% for event in upcoming_events[0:1] %}
		<div class="global-widget-featured-event" style="background-image: url('{{ TimberImage(event.thumbnail).src('xlarge') }}');">
			<div class="featured-event-meta">
				{{ event.get_field('start_time') }} &emsp;|&emsp; {{ event.start_date|date('M j') }} &emsp;|&emsp; {{ event.terms('event_location')|join(', ') }}
			</div>
			<div class="featured-event-title">
				<span class="fa fa-calendar"></span> {{ event.title }}
			</div>
			<p class="featured-event-description">{{ event.content|excerpt(25) }}</p>
			<a href="{{ event.link }}" class="arrow featured-event-link">Learn More</a>
			<div class="featured-event-disclaimer">To register for this complimentary event, please fill the information below. Space is limited—be sure to register today!</div>
			<div>{% filter shortcodes %} [gravityform id="{{ event.get_field('signup_form').id }}" title="false" description="false"] {% endfilter %}</div>
		</div>
		{% endfor %}
		<div class="global-widget-upcoming-events-list">
			<div class="global-widget-upcoming-events-title-wrapper">
				<span class="bold-text global-widget-upcoming-events-list-title">Upcoming Events</span> <a href="{{ all_events_link }}">View All Events</a>
			</div>
			<ul>
				{% for event in upcoming_events[1:] %}
					<li class="global-widget-upcoming-event">
						<div class="event-date">
							<span class="event-date-month">{{ event.start_date|date('M') }}</span>
							<span class="event-date-day">{{ event.start_date|date('d') }}</span>
						</div>
						<div class="event-details-wraper">
							<div class="event-location">{{ event.terms('event_category')|join(', ') }}</div>
							<div class="event-title"><a href="{{ event.link }}">{{ event.title }}</a></div>
							<div class="event-excerpt">{{ event.content|excerpt(15) }}</div>
							<div class="event-link"><a href="{{ event.link }}">Learn More</a></div>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endif %}


	<div class="global-widget-testimonials solutions-testimonials">
		<div class="testimonials-slider">
			{% for testimonial in testimonials %}
				<div class="testimonial" style="background-image: url('{{ TimberImage(testimonial.thumbnail).src('xlarge') }}');">
					<div class="testimonial-logo"><img src="{{ TimberImage(testimonial.company_logo).src('large') }}" alt="{{ testimonial.source }}" /></div>
					<blockquote class="testimonial-quote">
						<p>“{{ testimonial.quote }}”</p>
						<cite>- {{ testimonial.source }}</cite>
					</blockquote>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}