{% extends "base.twig" %}
{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="landing-page-storage">
		<div class="landing-page-tab-nav">
			<button class="landing-page-tab selected" data-target="business-critical">
				<div class="landing-page-tab__image">{{ source('images/business-crit.svg') }}</div>
				<div class="landing-page-tab__title">Business Critical Data</div>
			</button>
			<button class="landing-page-tab" data-target="archive-grade">
				<div class="landing-page-tab__image">{{ source('images/archive.svg') }}</div>
				<div class="landing-page-tab__title">Archive Grade</div>
			</button>
			<button class="landing-page-tab" data-target="compliance">
				<div class="landing-page-tab__image">{{ source('images/compliance.svg') }}</div>
				<div class="landing-page-tab__title">Compliance</div>
			</button>
			<button class="landing-page-tab" data-target="deep-archive">
				<div class="landing-page-tab__image">{{ source('images/deep-archive.svg') }}</div>
				<div class="landing-page-tab__title">Deep Archive</div>
			</button>
		</div>
		<div class="landing-page-tabs">
			<div class="landing-page-tab-content selected" id="business-critical">{{ post.get_field('business_critical_data') }}</div>
			<div class="landing-page-tab-content" id="archive-grade">{{ post.get_field('archive_grade') }}</div>
			<div class="landing-page-tab-content" id="compliance">{{ post.get_field('compliance') }}</div>
			<div class="landing-page-tab-content" id="deep-archive">{{ post.get_field('deep_archive') }}</div>
		</div>
	</div>
	<div class="global-widget-cta-banner light-gray-bg right-circuit-bg">
		<div class="global-widget-cta-banner__wrapper">
			<div class="global-widget-cta-banner__title">{{ post.get_field('cta_text') }}</div>
			<div><a href="{{ post.get_field('cta_link') }}" class="global-widget-cta-banner__link button">Learn More</a></div>
		</div>
		<img class="global-widget-cta-banner__image" src="{{ TimberImage( post.get_field('cta_image') ).src('large') }}" />
	</div>
{% endblock %}