{% extends "base.twig" %}
{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="support-cta-cards global-cta-cards">
		<div class="cta-card">
			<img src="{{theme.link}}/static/images/green-how-to.svg" class="cta-card__icon" alt="How-To Guides Icon" />
			<div class="cta-card__title">How-To Guides</div>
			<p>{{ post.how_to_guides_short_description }}</p>
			<a href="{{ post.get_field('how_to_guides_link') }}" class="button">Learn More</a>
		</div>
		<div class="cta-card">
			<img src="{{theme.link}}/static/images/green-email.svg" class="cta-card__icon" alt="Email Icon" />
			<div class="cta-card__title">Email</div>
			<p>{{ post.email_short_description }}</p>
			<a href="{{ post.get_field('email_link') }}" class="button">Email Us</a>
		</div>
		<div class="cta-card">
			<img src="{{theme.link}}/static/images/green-phone.svg" class="cta-card__icon" alt="Phone Icon" />
			<div class="cta-card__title">800.477.5432</div>
			<p>{{ post.phone_short_description }}</p>
			<a href="{{ post.get_field('phone_link') }}" class="button">Call Us</a>
		</div>
	</div>
	<div class="support-landing-info">
		<div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">Helpful Support Resources</div>
				<div class="resource-info__description">{{ post.support_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('support_link') }}" class="arrow">View Resources</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--green"><img src="{{ theme.link }}/static/images/headphones.svg" alt="Support" /></div>
		</div>
		<div class="resource-info resource-info--half corner-circle-box">
			<div class="resource-info-wrapper">
				<div class="resource-info__title">Get Teamviewer</div>
				<div class="resource-info__description">{{ post.teamviewer_short_description }}</div>
				<div class="resource-info__link"><a href="{{ post.get_field('teamviewer_link') }}" class="arrow">Download Now</a></div>
			</div>
			<div class="resource-info__icon resource-info__icon--green"><img src="{{ theme.link }}/static/images/teamviewer.svg" alt="Get Teamviewer" /></div>
		</div>
	</div>
{% endblock %}