{% extends "tease.twig" %}

{% block content %}
	{% if post.thumbnail.src %}
		<img src="{{post.thumbnail.src}}" class="featured-image" alt="{{ post.thumbnail.alt }}" />
	{% endif %}
	<h2><a href="{{post.link}}">{{post.title}}</a></h2>
		<div class="tease-info">
			<span class="screen-reader-text">Posted On</span>
			<span class="fa fa-clock-o"></span>
			<time>{{ post.date }}</time>
			<span class="byline">by <span class="author">{{ post.author }}</span></span>
			<div class="categories">in 
				<ul class="term-list">
				    {% for term in post.terms('any') %}
				        <li><a href="{{term.link}}">{{term.name}}</a></li>
				    {% endfor %} 
				</ul>
			</div>
		</div>
		<p>{{post.get_preview(25)}}</p>
{% endblock %}