{% extends "base.twig" %}
{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="landing-page-virtualization">
		<div class="landing-page-tab-nav">
			<button class="landing-page-tab selected" data-target="server-virtualization">
				<div class="landing-page-tab__image">{{ source('images/server-virtualization.svg') }}</div>
				<div class="landing-page-tab__title">Server Virtualization</div>
			</button>
			<button class="landing-page-tab" data-target="business-continuity">
				<div class="landing-page-tab__image">{{ source('images/business-continuity.svg') }}</div>
				<div class="landing-page-tab__title">Business Continuity</div>
			</button>
			<button class="landing-page-tab" data-target="virtual-desktop">
				<div class="landing-page-tab__image">{{ source('images/virtual-desktop-infrastructure.svg') }}</div>
				<div class="landing-page-tab__title">Virtual Desktop Infrastructure</div>
			</button>
			<button class="landing-page-tab" data-target="hybrid-it">
				<div class="landing-page-tab__image">{{ source('images/hybrid-it.svg') }}</div>
				<div class="landing-page-tab__title">Hybrid IT</div>
			</button>
		</div>
		<div class="landing-page-tabs">
			<div class="landing-page-tab-content selected" id="server-virtualization">{{ post.get_field('server_virtualization') }}</div>
			<div class="landing-page-tab-content" id="business-continuity">{{ post.get_field('business_continuity') }}</div>
			<div class="landing-page-tab-content" id="virtual-desktop">{{ post.get_field('virtual_desktop_infrastructure') }}</div>
			<div class="landing-page-tab-content" id="hybrid-it">{{ post.get_field('hybrid_it') }}</div>
		</div>
	</div>
	<div class="global-widget-cta-banner light-gray-bg right-circuit-bg">
		<div class="global-widget-cta-banner__wrapper">
			<div class="global-widget-cta-banner__title">{{ post.get_field('cta_text') }}</div>
			<div><a href="{{ post.get_field('cta_link') }}" class="global-widget-cta-banner__link button">Learn More</a></div>
		</div>
		<img class="global-widget-cta-banner__image" src="{{ TimberImage( post.get_field('cta_image') ).src('large') }}" />
	</div>
{% endblock %}