{% extends "base.twig" %}

{% block page_header %}
	<div class="page-header container bg-cover-center" style="background-image: url('{{ TimberImage(post.header_image).src('xlarge') }}');">
		<h1 class="page-title">{{ post.title }}</h1>
		{% if post.header_intro %}
			<div class="page-subtitle">
				{{ post.header_intro }}
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block content %}
	<div class="full-width-whitepaper-banner">
		<img class="whitepaper-image" src="{{ TimberImage(post.get_field('full_width_header_banner_image')).src('large') }}" />
		<div class="whitepaper-banner-left">
			<div>
				<h2>{{ post.get_field('full_width_header_banner_title') }}</h2>
				<p>{{ post.get_field('full_width_header_banner_subtitle') }}</p>
			</div>
		</div>
		<a class="button grey-gradient" href="{{ post.get_field('full_width_header_banner_button').url }}">{{ post.get_field('full_width_header_banner_button').title }}</a>
	</div>

	<div class="whitepaper-content-wrapper">
	
		<div class="whitepaper-content">
			<div>{{ post.get_field('top_content') }}</div>

			<div class="whitepaper-quote left-circuit-bg-red">
				<div class="whitepaper-quote-title">{{ post.get_field("quote_title") }}</div>
				<div>
					<quote>{{ post.get_field("quote_text") }}</quote>
					<cite>{{ post.get_field("quote_citation") }}</cite>
				</div>
			</div>

			<div>{{ post.get_field('bottom_content') }}</div>
		</div>

		<div class="whitepaper-sidebar">
			<h3>{{ post.get_field('sidebar_sticky_form_title') }}</h3>
			<p>{{ post.get_field('sidebar_sticky_form_subtitle') }}</p>
			{% set form = post.get_field('sidebar_sticky_form') %}
			{% if form %}
				{% filter shortcodes %}
					[gravityform id="{{ form.id }}" title="false" description="false" ajax="false"]
				{% endfilter %}
			{% endif %}
		</div>

		<div class="full-width-whitepaper-footer-banner">
			<div class="full-width-whitepaper-footer-banner-wrapper">
				<div class="whitepaper-banner-left">
					<div>
						<h2>{{ post.get_field('full_width_footer_banner') }}</h2>
						<p><a class="button grey-gradient" href="{{ post.get_field('full_width_footer_banner_button').url }}">{{ post.get_field('full_width_footer_banner_button').title }}</a></p>
						<p>or <a href="{{ post.get_field('full_width_footer_banner_demo_link') }}">Request an Assessment</a></p>
					</div>
				</div>
				<img class="whitepaper-image" src="{{ TimberImage(post.get_field('full_width_footer_banner_whitepaper_image')).src('large') }}" />
			</div>
		</div>
	</div>
{% endblock %}