.button, a.button {
	height: auto;
	font-weight: 400;
	vertical-align: middle;
	white-space: normal;
	line-height: 1;
	background: $red;
	border-radius: .5rem;
	padding: .75em 1.5em;
	color: $white;
	font-size: 1rem;
	text-decoration: none;
	display: inline-block;
	font-family: $font-heading;
	transition: all 100ms linear;
	border: 1px solid $red;
	cursor: pointer;
	
	&:hover, &:active, &:focus {
		background-color: $white;
		color: $red;
	}

	&:focus {
		outline: 1px dashed black;
	}

	&.large {
		font-size: 1.5rem;
	}

	&.blue {
		background: $blue;
		border-color: $blue;
		// font-weight: 300;

		&:hover {
			color: $blue;
			background: $white;
		}
	}


	&.green {
		background: $green;
		border-color: $green;
		&:hover {
			color: $green;
			background: $white;
		}
	}

	&.white {
		background: $white;
		color: $red;
	}

	&.grey-gradient {
		background: linear-gradient(to top, #C9C9C9, #FFFFFF);
		color: $black;
		border: none;
		box-shadow: 0 10px 16px -8px rgba($black, .75);
		border-radius: 5px;
		font-weight: 700;
		font-size: 1.25rem;
	}
}