.page-template-case_study {

}

.single-case_study {

}

.case-studies-landing-info {
	margin-top: -9rem;
}

article.post-type-case_study {
	margin-bottom: 3rem;
	
	@include mq($tablet){
		margin-left: 4rem;
		margin-right: 4rem;
	}
}

.case-study-side-image {
	box-shadow: 0 2px 4px 5px rgba($black, .2);
	overflow: hidden;
	margin-bottom: 3rem;
	padding: 4rem 3rem;
	background: $white;

	display: flex;
	align-items: center;
	justify-content: space-between;

	position: relative;
	z-index: 1;

	&:after {
		content: '';
		display: block;
		position: absolute;
		background-image: url('static/images/bg-circuits-vertical.svg');
		opacity: .1;
		background-position: right top;
		background-repeat: no-repeat;
		background-size: auto 80%;
		top: 0;
		left: 0;
		right: 1rem;
		bottom: 0;
		z-index: -1;
	}
}