// CommVault Email Campaign Page //

// Header changes
.cv-header {
	padding: 10rem 1rem;
	@include bp(sm) { padding: 10rem 4rem; }

	// has grey blending originally
	&:before { background: none; }

	.page-title {
		font-size: 2.5rem;
		max-width: 35.5rem;
		margin-bottom: 1.25rem;
		text-shadow: 0 2px 8px rgba($rblack, 0.3);
		@include bp(xs) { font-size: 3rem; }
		@include bp(sm) { font-size: 4rem; }
	}

	.page-subtitle {
		font-weight: bold;
		font-size: 1.625rem;
	}
}

.landing-commvault {
	max-width: 75rem; // 1200px
	margin: 0 auto;

	.button:focus {
		outline: unset;
	}
}

.onboarding-block {

	.onboarding-header {
		margin-bottom: 0;
		line-height: 1.3;
		font-size: 2.5rem;
		font-weight: bold;
		color: $red;
		text-align: center;
		@include bp(600px) { margin-bottom: 2rem; }
		@include bp(sm) { font-size: 3rem; }
		@include bp(1000px) { text-align: left; }
	}
}

.card-row {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	max-width: 45rem;
	margin: 0 auto;
	margin-bottom: 4.875rem;
	flex-wrap: wrap;

	@include bp(600px) {
		max-width: 55rem;
	}

	// items all fit nicely into a row at 860px
	@include bp(1000px) {
		flex-direction: row;
		justify-content: space-between;
		max-width: 100%;
	}
}

.card-block {
	max-width: 25rem;
	width: 100%;
	padding: 1.75rem 0.5rem 1.25rem;
	margin-top: 2rem;
	background-color: $white;
	border-radius: 5px;
	box-shadow: 0 2px 5px 4px rgba($cv-grey, 0.2);
	text-align: center;

	@include bp(600px) {
		max-width: 15rem;
		margin-top: 0;
	}

	@include bp(1000px) {
		padding: 2.5rem 0.625rem 1.875rem;
	}

	h3 {
		margin-top: 1.875rem;
		min-height: 3.5rem;
		margin-bottom: 0;
	}

	p {
		margin-bottom: 0;
		line-height: 1.1;
		padding-bottom: 1rem;

		@include bp(xs) {
			min-height: 7.5rem;
			padding-bottom: 0;
		}
	}
}

// red card with form (special)
.email-card {
	display: none;

	@include bp(1000px) {
		display: block;
		max-width: 19.5rem;
		padding: 1.875rem 1.875rem 1.5rem;
		width: 100%;
		background-color: $red;
		z-index: 5;
		text-align: left;
		margin-top: -14rem;
	}

	h3 {
		font-size: 1.625rem;
		color: $white;
		line-height: 1.3;
		margin-top: 0;
	}

	// modify the confirmation message styles
	#gform_confirmation_wrapper_22 #gform_confirmation_message_22 {
		color: $white;
		padding-top: 4.5rem;
		padding-bottom: 5rem;
	}
}

.email-card-mobile {
	max-width: 25rem;
	margin: 0 auto 5rem;
	padding: 1rem;
	background-color: $red;
	border-radius: 5px;
	box-shadow: 0 2px 5px 4px rgba($cv-grey, 0.2);
	@include bp(1000px) { display: none; }

	h3 {
		color: $white;
		text-align: center;
	}
}

// set placeholder opacity lighter
::placeholder {
	opacity: 0.3;
}

// class applied to form for easier control
.commvault-form_wrapper {
	margin-bottom: 0 !important;

	// remove padding from li elements
	li { padding-right: 0 !important; }

	.gfield_label {
		color: $white;
		font-size: 0.875rem !important; // 14px
	}

	// remove asterisks for required fields
	.gfield_required { display: none; }

	.ginput_container {
		margin-top: 0 !important;

		input, textarea {
			border-radius: 5px;
			border: 1px solid $black !important;
		}
	}

	// full width inputs
	.top_label input.medium,
	.top_label select.medium {
		width: 100% !important;
	}

	textarea.small {
		margin: 0 !important;
	}

	.gform_button {
		background-color: $black;
		width: 100% !important;
		margin-right: 0 !important;
		font-size: 1.125rem;
		font-weight: bold;
		padding: 1rem 0;

		&:hover {
			color: $white;
			background-color: #565557; // lighter charcoal cover
		}
	}

	.gform_footer {
		padding: 0 !important;
	}
}

// svg icon colors
.card-icon {
	display: inline-block;

	svg { // we use !important because Chrome
		height: 4.375rem;
		g { fill: $red !important; }
		path { fill: $red !important; }
	}
}

// icon widths
.mglass-icon svg { width: 5.125rem; } // 82px
.cloud-icon svg { width: 7.5rem; } // 120px
.gears-icon svg { width: 4.625rem; } // 74px
.lock-icon svg { width: 3.375rem; } // 54px
.bag-icon svg { width: 4.25rem; } // 68px

// cloud data storage call to action box with cards
.cloud-data-block {
	margin: 0 auto 5rem;

	.orange-bg {
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 5px;
		@include bp(sm) { background-size: contain; }
	}

	// controls box padding
	.cloud-data-header {
		max-width: 62.5rem;
		padding-top: 4.25rem;
		padding-bottom: 4.25rem;
		padding-left: 1rem;
		padding-right: 1rem;
		text-align: center;
		font-size: 2rem;
		font-weight: bold;
		color: $white;
		margin: 0 auto;
		line-height: 1.3;

		@include bp(xs) { font-size: 2.5rem; }

		@include bp(sm) {
			font-size: 3rem;
			padding-bottom: 8.25rem;
		}
	}

	// smaller width for this specific card row and pull up into orange-bg
	.card-row {
		margin: 0 auto;
		max-width: 45rem;
		@include bp(600px) { max-width: 65rem; }
		@include bp(sm) { margin: -6rem auto 0; }
		@include bp(md) { margin: -4rem auto 0; }
		// 2 special cards in this row as well (style for this below)
	}

	// use fat cards until tablet size
	.card-block {
		max-width: 20rem;
		margin: 2rem auto 0;

		@include bp(sm) {
			max-width: 15rem;
			margin: 0 auto;
		}

		p {
			min-height: unset;
			padding-bottom: 1rem;

			@include bp(xs) {
				min-height: 7.5rem;
				padding-bottom: 0;
			}
		}
	}

	// first card in the cloud data block
	.keep-overlap {
		margin: -2rem auto 0;
		@include bp(sm) { margin: -6rem auto 0; }
		@include bp(md) { margin: -4rem auto 0; }
	}

	// second card only has overlap when the row is 2x2
	.keep-overlap-tablet {
		@include bp(504px) { margin: -2rem auto 0; }
		@include bp(sm) { margin: -6rem auto 0; }
		@include bp(md) { margin: -4rem auto 0; }
	}
}

// qa text block
.qa-block {
	max-width: 50rem;
	margin: 0 auto 5rem;

	.qa-header {
		font-weight: normal;
		font-size: 1.5rem;
		color: $red;
	}

	.qa-content {
		h1, p { line-height: 1.3; }

		h1 {
			margin-bottom: 0;
			font-size: 1.5rem;
			@include bp(xs) { font-size: 1.75rem; }
			@include bp(sm) { font-size: 2.25rem; }
		}

		p { margin-bottom: 2.5rem; }
	}
}

// bottom orange block
.more-questions-block {
	max-width: 62.5rem;
	margin: 0 auto 2.5rem;
	background-color: $red;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 22px 11px -20px rgba($rblack, 0.5);

	.mq-content {
		padding-top: 2.375rem;
		padding-bottom: 3.25rem
	}

	.mq-header {
		color: $white;
		line-height: 1.3;
		margin-bottom: 1.25rem;
		font-size: 2.5rem;
		@include bp(xs) { font-size: 3rem; }
	}

	.button.white {
		padding: 1.1rem 2.3rem;
		font-size: 1.25rem;
		border: 2px solid $white;

		&:hover {
			background-color: $red;
			color: $white;
		}
	}
}