.page-template-contact {

}

.contact-cta-cards {
	.cta-card {
		&.selected {
			box-shadow: 0 2px 5px 4px rgba($red, .9);
		}
	}
}

.contact-forms {
	margin: 3rem 4rem;

	.contact-form-option {
		display: none;

		&.selected {
			display: block;
		}
	}
}