.post-type-archive-download {
	.archive-sidebar {
		max-width: calc(100% - 8rem);
		margin: 0 auto;
	}

	.archive-content {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-bottom: 6rem;

		align-items: stretch;
	}
}

.download-archive-item {
	min-width: 49%;
	width: 100%;
	margin-bottom: .5rem;
	display: flex;
	padding: .75rem;
	// align-items: center;


	@include mq($tablet){
		max-width: 50%;
	}

	a {
		display: inline-block;
		color: $black;
		text-decoration: none;
		padding: .25rem 0;
		padding: 3rem;
		background-color: white;
		box-shadow: $shadow;
		text-align: center;
		text-align: left;
		display: flex;
		flex-direction: column;
		// align-items: center;
		// justify-content: center;
		flex: 1;
	}

	.download-title {
		font-size: 1.5rem;
		line-height: 1;
		font-weight: bold;
		flex: 1;
	}

	.download-meta {
		color: $red;
		margin-bottom: .75rem;
	}

	.file-size {
		color: $black;
		margin-left: 1.5rem;
	}

	.view-link {
		font-weight: bold;
		color: $red;
		margin-top: 1.5rem;
	}
}

.archive-facet__wrapper {
	.facetwp-facet {
		display: flex;

		> * {
			padding: 2rem;
		}
	}
}