body.single-event {

}

article.post-type-event {
	margin-bottom: 3rem;
	
	@include mq($tablet){
		margin-left: 4rem;
		margin-right: 4rem;
	}
}

.event-archive-item {
	position: relative;

	&__info {
		max-width: 30rem;
		position: relative;
		z-index: 1;
	}

	&__title {
		line-height: 1;
		hyphens: none;

		a {
			color: $black;
		}
	}

	&.left-circuit-bg:after {
		opacity: .1
	}

	&__meta {
		color: $red;
		margin-bottom: 1.5rem;
	}

	&__icon {
		position: absolute;
		padding: 3rem;
		border-radius: 50%;
		height: 32rem;
		width: 32rem;
		top: -10rem;
		right: -8rem;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 0;
		opacity: .1;	
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		
		@include mq($tablet){
			
		}

		@include mq(1440px){
			opacity: 1;
		}
	}
}