#footer {

	.footer-inner-wrap {
		border-top: 3px solid $black;
		padding-top: 2rem;
		display: flex;
		align-items: center;
		flex-wrap: wrap;

		.footer-logo {
			order: 3;
			flex-grow: 1;
			@include mq($desktop){
				order: -1;
			}
		}
	}
	.footer-email-contact {
		width: 100%;
		margin: 1rem 0;
		color: $red;
		font-weight: 700;

		@include mq($desktop){
			width: auto;
			margin: 1rem 3rem;
		}

		a {
			color: $black;
			font-weight: 400;
		}
	}

	.footer-phone-contact {
		order: -1;
		margin: 1rem 0;
		@include mq($desktop){
			width: auto;
			order: 2;
		}
	}
}

// Agency Credit
#footer .agency {
	padding-bottom: 1rem;
	font-size: .75rem;
	margin-top: 2rem;
}