a {
	text-decoration: none;
	color: $red;
	&:hover {
		text-decoration: underline;
	}
}

a.arrow {
	display: inline-block;
	&:after {
		margin-left: .5em;
		display: inline-block;
		content: '';
		width: 0;
		height: 0;
		border-left: .35em solid currentColor;
		border-top: .35em solid transparent;
		border-bottom: .35em solid transparent;
	}
}

hr.short {
	max-width: 20rem;
	margin: 3rem auto;
	display: block;
}

.no-scroll {
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: -1;
}

.line-link {
	display: inline-block;
	&:before {
		content: '';
		display: inline-block;
		width: 1.25em;
		height: 1px;
		background: currentColor;
		margin-right: .25em;
	}
}

[type="text/template"] {
	display: none;
}

.table-row {
	display: table-row;

	> * {
		display: table-cell;
	}
}

.narrow-container {
	max-width: 960px;
	margin: 0 auto;
}

.top-bottom-padding {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.top-bottom-padding-small {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.mfp-content {
	[type="text/template"] {
		display: block;
	}
}

.mfp {
	background: $white;
	width: 90%;
	max-width: 75em;
	margin: 0 auto;
	position: relative;
	padding: 2rem;
}

.mfp-close {
	margin: 0;
}

.slick-slider {

	.slick-list {
		z-index: 1;
	}

	.slick-arrow, .slick-prev, .slick-next {
		z-index: 10;
		width: 3rem;
		height: 3rem;
		background: rgba($white, .25);
		border-radius: 50%;
		
		&:before {
			font-family: 'FontAwesome', 'slick', sans-serif;
			font-size: 2rem;
			color: $white;
			opacity: 1;
			position: relative;
		}
	}
	.slick-prev {
		left: 1.5rem;

		&:before {
			content: '\f0d9';
			right: 2px;
		}
	}
	.slick-next {
		right: 1.5rem;

		&:before {
			content: '\f0da';
			left: 2px;
		}
	}
}

.footer-call-to-action {
	align-items: center;

	@include mq($tablet){
		display: flex;
	}

	&-image {
		display: block;
		width: 100%;
		max-width: 30rem;
		order: -1;
		margin: 3rem auto 0;

		@include mq($tablet){
			margin: 0;
		}
	}

	&-info {
		@include mq($tablet){
			max-width: 30rem;
			margin-left: 3rem;
		}
	}

	&-title {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		hyphens: none;
	}

	&-subtitle {
		font-size: 1.25rem;
		margin: 2rem 0;
	}

	.button {

	}
}

.page-header {
	padding: 3rem 4rem 12rem;
	margin-bottom: 1.5rem;
	color: $white;
	position: relative;

	&:before {
		content: '';
		background: rgba($black, .5);
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: block;
		z-index: 0;
	}

	> * {
		position: relative;
		z-index: 1;
	}

	.page-title {
		font-size: 3rem;
		max-width: 40rem;
		line-height: 1;
		hyphens: auto;
	}

	.page-subtitle {
		max-width: 50rem;
		font-size: 1.25rem;
	}
}

.bg-cover-center {
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.corner-circle-box {
	box-shadow: 0 2px 4px 5px rgba($black, .2);
	overflow: hidden;
	margin-bottom: 3rem;
	padding: 4rem 3rem;
	background: $white;
}

.global-cta-cards {
	display: flex;
	flex-wrap: wrap;
	margin: 3rem 4rem;
	justify-content: space-around;
	position: relative;
	z-index: 1;

	.cta-card {
		background: $white;
		box-shadow: $shadow;
		padding: 2.5rem;
		flex: 1 0 90%;
		margin: 1.5rem 1rem;
		text-align: center;

		@include mq($small-tablet){
			flex-basis: 40%;
		}

		@include mq($desktop){
			flex-basis: 20%;
		}

		&__icon {
			width: 5.5rem;
			height: auto;
			min-height: 5.5rem;
			margin-bottom: 1.5rem;
		}

		&__title {
			font-size: 1.5rem;
			font-weight: 700;

			&:after {
				content: '';
				display: block;
				width: 50%;
				height: 1px; 
				background: $gray;
				margin: 1.5rem auto;
			}
		}
	}

	a {
		font-weight: 700;
	}
}

.global-landing-info-container {
	margin: 3rem 4rem 3rem;
	z-index: 10;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.global-widget-featured-event {
	background-color: $black;
	background-size: cover;
	color: $white;
	position: relative;
	z-index: 1;
	padding: 2rem;
	font-weight: bold;

	@include mq($desktop){
		padding: 2rem 6rem;
	}

	&:before {
		content: '';
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		position: absolute;
		background: rgba($black, .75);
		z-index: -1
	}

	.featured-event-meta {
		margin-bottom: 2rem;
	}

	.featured-event-title {
		font-size: 3rem;
		display: flex;
		flex-wrap: wrap;
		max-width: 60rem;
		align-items: center;
		line-height: 1;
		hyphens: none;
		margin-bottom: 2rem;

		@include mq($tablet){
			flex-wrap: nowrap;
		}

		.fa {
			margin-right: 2rem;
			margin-bottom: 2rem;
			font-size: 5rem;
			@include mq($tablet){
				margin-bottom: 0;
			}
		}
	}
	.featured-event-description {
		font-size: 1.5rem;
		font-weight: normal;
		max-width: 60rem;
	}

	.featured-event-link {
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
	}

	.featured-event-disclaimer {
		margin-bottom: 1rem;
	}

	.gform_validation_error {
		background: $white;
		padding: 1rem;
	}

	.gf_simple_horizontal {
		@include mq($desktop){
			display: flex;
		}

		.gform_body {
			flex: 1;
		}
	}
}

.global-widget-upcoming-events-list {
	background-color: $light-gray;
	margin-bottom: 4rem;
	padding: 1rem 2rem 2rem;

	.global-widget-upcoming-events-title-wrapper {
		diplay: flex;
		align-items: center;
		margin-bottom: 2rem;
		border-bottom: 1px solid $black;
		padding-bottom: 1rem;
	}

	.global-widget-upcoming-events-list-title {
		margin-right: 2rem;
		border-right: 1px solid $black;
		padding: 1rem 2rem 1rem 1rem;
		display: inline-block;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.global-widget-upcoming-event {
		max-width: 28rem;
		display: flex;
		margin-bottom: 3rem;

		a {
			color: $red;
			font-weight: 700;
		}
		.event-details-wraper {
			padding-right: 2rem;
		}

		.event-location {
			margin-bottom: .5rem;
		}
		.event-title {
			font-size: 1.25rem;
			margin-bottom: 1rem;
		}

		.event-excerpt {
			margin-bottom: 1rem;
		}

		.event-date {
			background: $gray;
			color: $white;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 1rem;
			align-self: flex-start;
			width: 6.25rem;
			line-height: 1;
			text-transform: uppercase;
			letter-spacing: .15rem;
			flex: 0 0 auto;
			margin-right: 1.5rem;
			border-radius: $border-radius;

			.event-date-month {
				font-size: 1.5rem;
			}

			.event-date-day {
				font-size: 2.25rem;
			}
		}
	}
}

.global-widget-testimonials {
	.testimonial {
		color: $white;
		display: flex !important;
		flex-wrap: wrap;
		align-items: center;
		padding: 3rem 2rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		z-index: 1;
		position: relative;
		justify-content: center;

		@include mq($tablet){
			padding: 6rem;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba($black, .75);
			z-index: -1;
		}

		.testimonial-logo {
			max-width: 30rem;
			margin: 1.5rem 0;
			width: 100%;

			img {
				width: 100%;
				display: block;
				margin: 0 auto;
				max-width: 20rem;
			}
		}

		.testimonial-quote {
			font-size: 1rem;
			max-width: 40rem;
		}
	}
}

.global-widget-partners-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.partners__logo {
		display: block;
		text-align: center;
		flex: 1 0 30rem;
		padding: 3rem 2rem;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			max-height: 10rem;
			max-width: 10rem;
		}
	}
}

.archive-wrapper {

	&--has-sidebar {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;

		@include mq($tablet){
			flex-wrap: nowrap;
		}
	}

	.archive-sidebar {
		min-width: 30rem;
	}

	.archive-content {
		width: 100%;
	}
}

.archive-facet {

	&__title {
		margin-bottom: .5rem;
	}
}

.global-widget-cta-banner {
	background: rgba( $light-grey, .05);
	padding: 3rem 4rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 3rem 0;

	&__wrapper {
		max-width: 30rem;
	}

	&__title {
		font-size: 3rem;
		hyphens: none;
		line-height: 1;
		font-weight: 700;
		margin-bottom: 3rem;
	}

	&__image {
		display: none;
		max-width: 20rem;
		margin: 3rem 4rem;

		@include mq($desktop){
			display: block;
		}
	}
}

.landing-page-tab-nav {
	display: flex;
	align-items: flex-start;
	text-align: center;
	flex-wrap: wrap;
	margin-bottom: 3rem;
	justify-content: center;
	
	@include mq($desktop){
		flex-wrap: nowrap;
		margin-bottom: 0;
	}

	.landing-page-tab {
		background: none;
		border: none;
		cursor: pointer;
		margin: 1rem .5rem;
		padding: 0;
		// max-width: 6rem;
		width: 25%;
		
		@include mq($tablet){
			max-width: 10rem;
			margin: 3rem 2rem;
			width: auto;
		}


		&__image {
			max-width: 100%;
			width: 4rem;
			height: 4rem;
			background: transparent;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 auto;

			@include mq($tablet){
				width: 8rem;
				height: 8rem;
			}

			svg {
				max-width: calc(100% - 2rem);
				display: block;
			}

			svg path {
				fill: rgb(199,199,199);
			}
			#deeparc-svg {
				rect {
					stroke: rgb(199,199,199);
				}
				path {
					fill: none !important;
					stroke: rgb(199,199,199);
				}
			}
			#analytics-svg {
				polygon {
					fill:  rgb(199,199,199);
				}
			}
		}

		&:hover {
			.landing-page-tab__image {
				background: $blue;
				box-shadow: $shadow;

				svg path {
					fill: $white;
				}

				#deeparc-svg {
					rect {
						stroke: $white;
					}
					path {
						fill: none !important;
						stroke: $white;
					}
				}
				#analytics-svg {
					polygon {
						fill: $white;
					}
				}
			}
		}

		&.selected {
			.landing-page-tab__image {
				background: $red;
				box-shadow: $shadow;

				svg path {
					fill: $white;
				}

				#deeparc-svg {
					rect {
						stroke: $white;
					}
					path {
						fill: none !important;
						stroke: $white;
					}
				}
				#analytics-svg {
					polygon {
						fill: $white;
					}
				}
			}
		}

		&__title {
			font-weight: 700;
			hyphens: none;
			margin-top: .5rem;
			
			@include mq($tablet){
				margin-top: 1.5rem;
			}
		}
	}
}

.landing-page-tabs {
	margin-bottom: 3rem;
	max-width: 60rem;
	margin: 0 auto 3rem;

	.landing-page-tab-content {
		display: none;

		&.selected {
			display: block;
		}
	}
}