#header {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	#header-logo {
		display: block;

		img {
			display: block;
			width: 100%;
		}
	}

	#nav-main {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}

	.nav-inner-wrap {
		display: flex;
		align-items: center;
	}

	#primary-menu {
		margin: 0;
		padding: 0;
		position: relative;
		display: flex;
		list-style: none;

		> li {
			margin-right: 2rem;
		}

		a {
			color: $black;
			display: inline-block;
			padding: .5rem;
			hyphens: none;
		}

		ul {
			/* No Submenus */
			display: none;
		}
	}

	.social-link {
		max-width: 5rem;
		max-height: 5rem;
		display: block;
		padding: 1rem;

		svg {
			display: block;
			width: 100%;
		}
	}

	.twitter {
		margin-left: -.5rem;
		margin-right: .5rem;
		&:hover {
			svg path {
				fill: $twitter-blue;
			}
		}
	}

	.linkedin {
		&:hover {
			svg path#Fill-1 {
				fill: $linkedin-blue;
			}
		}
	}

	.youtube {
		margin-right: 2rem;
		&:hover {
			svg path {
				fill: $youtube-red;
			}
		}
	}

	.facebook {
		margin-right: 1.5rem;
		margin-left: -1.5rem;
		&:hover { .fa-facebook:before { color: $facebook-blue; } }
	}

	.fa-facebook {
		font-family: FontAwesome;
		&::before { color: rgba($black, 0.7); }
		// &:hover:before { color: $facebook-blue; }
	}

	.nav-button {}

	.menu-toggle-container {
		display: none;
	}

	#menu-toggle {
		background: $red;
		color: $white;
		box-shadow: none;
		border: none;

		span {
			display: inline-block;
			margin-left: 1rem;
			font-family: $font-body;
		}
	}

	@include mq($until: $tablet){
		.menu-toggle-container {
			display: block;
			text-align: center;
			margin: 1rem;
		}

		#nav-main {
			justify-content: center;

			#header-logo {
				max-width: 32rem;
			}

			.nav-inner-wrap {
				display: none;
				width: 100%;
				flex: 1 1 100%;
				background: $light-gray;
				padding: 1.5rem 1rem;

				&.visible-menu {
					display: block;
				}

				#primary-menu {
					display: block;
				}

				.social-link {
					display: inline-block;
				}

				.nav-button {
					display: block;
				}
			}
		}
	}

} // #header