.page-template-history {

}

.history {
	&__eagle-now {
		background: $red;
		padding: 3rem 4rem;
		color: $white;
		margin: 3rem 0;

		&:after {
			opacity: .15;
		}
	}

	&__founders, &__retro-founders {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		text-align: center;
		margin: 3rem 0;

		img {
			display: block;
			max-width: 8rem;
			margin: 0 auto;
		}

		.founder {
			min-width: 12rem;
			margin: 1.5rem 0;

			&__name {
				display: inline-block;
				margin: 1rem 0;
			}
		}
	}
}