.home {

	.home-slider {
		margin-bottom: 3rem;
		position: relative;

		.slide {
			color: $white;
			padding: 6rem 2rem 18rem;
			background-size: cover;
			background-color: $blue;
			position: relative;
			z-index: 1;

			&:before {
				content: '';
				display: block;
				position: absolute;
				width: 40%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: -1;
				opacity: .1;
				background-image: url("static/images/bg-circuits-white.svg");
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center 10%;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: linear-gradient(to right, rgba($black, .75), transparent);
				z-index: -2
			}

			@include mq($desktop){
				padding: 6rem 6rem 18rem;
			}
		}

		.slide-title {
			line-height: 1;
			margin-bottom: 1.5rem;
			font-size: 3rem;
			font-weight: 700;
			max-width: 45rem;
			text-shadow: 0 2px 8px rgba($black, .3);

			@include mq($tablet){
				font-size: 5rem;
			}
		}

		.slide-subtitle {
			font-size: 2rem;
			font-weight: 700;
			text-shadow: 0 2px 8px rgba($black, .3);
			max-width: 45rem;
			line-height: 1;
			@include mq($tablet){
				font-size: 4rem;
			}
		}

		.slide-excerpt {
			font-size: 1.5rem;
			text-shadow: 0 2px 8px rgba($black, .3);
			max-width: 45rem;
			margin: 1.5rem 0;
		}
	}

	.home-cta-cards {
		display: flex;
		flex-wrap: wrap;
		margin-top: -18rem;
		margin-bottom: 3rem;
		justify-content: space-around;
		position: relative;
		z-index: 1;

		.cta-card {
			background: $white;
			box-shadow: $shadow;
			padding: 2.5rem;
			flex: 1 0 90%;
			margin: 1.5rem 1rem;
			text-align: center;

			@include mq($small-tablet){
				flex-basis: 40%;
			}

			@include mq($desktop){
				flex-basis: 20%;
			}

			&__icon {
				width: 5.5rem;
				height: auto;
				min-height: 5.5rem;
				margin-bottom: 1.5rem;
			}

			&__title {
				font-size: 1.5rem;
				font-weight: 700;

				&:after {
					content: '';
					display: block;
					width: 50%;
					height: 1px; 
					background: $gray;
					margin: 1.5rem auto;
				}
			}
		}

		a {
			font-weight: 700;
		}
	}

	.home-featured-event {
		background-color: $black;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		color: $white;
		position: relative;
		z-index: 1;
		padding: 2rem;
		font-weight: bold;

		@include mq($desktop){
			padding: 2rem 6rem;
		}

		&:before {
			content: '';
			display: block;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			position: absolute;
			background: rgba($black, .75);
			z-index: -1
		}

		.featured-event-meta {
			margin-bottom: 2rem;
		}

		.featured-event-title {
			font-size: 3rem;
			display: flex;
			flex-wrap: wrap;
			max-width: 60rem;
			align-items: center;
			line-height: 1;
			hyphens: none;
			margin-bottom: 2rem;

			@include mq($tablet){
				flex-wrap: nowrap;
			}

			.fa {
				margin-right: 2rem;
				margin-bottom: 2rem;
				font-size: 5rem;
				@include mq($tablet){
					margin-bottom: 0;
				}
			}
		}
		.featured-event-description {
			font-size: 1.5rem;
			font-weight: normal;
			max-width: 60rem;
		}

		.featured-event-link {
			font-size: 1.5rem;
			margin-bottom: 1.5rem;
		}

		.featured-event-disclaimer {
			margin-bottom: 1rem;
		}

		.gform_validation_error {
			background: $white;
			padding: 1rem;
		}

		.gf_simple_horizontal {
			@include mq($desktop){
				display: flex;
			}

			.gform_body {
				flex: 1;
			}
		}
	}

	.home-upcoming-events-list {
		background-color: $light-gray;
		margin-bottom: 4rem;
		padding: 1rem 2rem 2rem;

		.home-upcoming-events-title-wrapper {
			diplay: flex;
			align-items: center;
			margin-bottom: 2rem;
			border-bottom: 1px solid $black;
			padding-bottom: 1rem;
		}

		.home-upcoming-events-list-title {
			margin-right: 2rem;
			border-right: 1px solid $black;
			padding: 1rem 2rem 1rem 1rem;
			display: inline-block;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.home-upcoming-event {
			max-width: 28rem;
			display: flex;
			margin-bottom: 3rem;

			a {
				color: $red;
				font-weight: 700;
			}
			.event-details-wraper {
				padding-right: 2rem;
			}

			.event-location {
				margin-bottom: .5rem;
			}
			.event-title {
				font-size: 1.25rem;
				margin-bottom: 1rem;
			}

			.event-excerpt {
				margin-bottom: 1rem;
			}

			.event-date {
				background: $gray;
				color: $white;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 1rem;
				align-self: flex-start;
				width: 6.25rem;
				line-height: 1;
				text-transform: uppercase;
				letter-spacing: .15rem;
				flex: 0 0 auto;
				margin-right: 1.5rem;
				border-radius: $border-radius;

				.event-date-month {
					font-size: 1.5rem;
				}

				.event-date-day {
					font-size: 2.25rem;
				}
			}
		}
	}

	.home-contact-support {
		padding: 3rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 3rem;

		.inner-wrap {
			max-width: 50rem;
		}

		.h1 {
			font-size: 4rem;
			margin-bottom: 2rem;
			line-height: 1;
		}

		p {
			line-height: 1.25;
			font-size: 1.5rem;
			max-width: 42rem;
			margin-bottom: 2rem;
		}

		.support-nav {
			padding: 1.5rem 0;
			box-shadow: $shadow;
			background: $white;
			border-radius: $border-radius;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			a {
				padding: 1rem;
				width: 100%;
				text-align: center;
				color: $black;
				font-size: 1.5rem;
				font-weight: 700;
				display: flex;
				flex-direction: column;

				@include mq($small-tablet){
					width: calc(100%/3);
				}

				&:hover {
					text-decoration: none;

					.fa {
						color: $blue;
					}
				}

				.fa {
					color: $green;
					font-size: 3rem;
					margin-bottom: 3rem;
				}

				&:nth-child(2){ 
					border-left: 1px solid $black;
					border-right: 1px solid $black;
				}
			}
		}

		.icon {
			flex-shrink: 0;
			display: none;
			margin-left: 4rem;

			@include mq($tablet){
				display: inherit;
			}
		}
	}
	
	.partners {
		margin-bottom: 3rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 2rem;
		
		&__circle {
			// max-width: 44rem;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			position: relative;
			padding: 0rem 0;
			margin: 3rem 0 6rem;

			@include mq($tablet){
				margin: 3rem 2rem 6rem;
			}
		}

		&__center-icon {
			max-width: 6rem;
			@include mq($tablet){
				max-width: 10rem;
			}
		}

		&__logo {
			max-width: 10rem;
			margin: 3rem;
			// position: absolute;
		}

		&__info {
			width: 100%;
			max-width: 36rem;
		}

		&__info-title {
			font-size: 4rem;
			line-height: 1;
			font-weight: 700;
		}

		&__info-subtitle {
			font-size: 1.5rem;
			line-height: 1;
			margin: 1.5rem 0;
			color: $red;
			hyphens: none;
		}

		&__info-description {
			margin: 1.5rem 0;
		}

		&__info-buttons {
			.button {
				margin-right: 1rem;
				margin-bottom: 1.5rem;
			}
		}
	}

	.testimonials {
		.testimonial {
			color: $white;
			display: flex !important;
			flex-wrap: wrap;
			align-items: center;
			padding: 6rem 6rem;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			z-index: 1;
			position: relative;
			justify-content: center;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background: rgba($black, .75);
				z-index: -1;
			}

			.testimonial-logo {
				max-width: 30rem;
				margin: 1.5rem 0;
				width: 100%;

				img {
					width: 100%;
					display: block;
					margin: 0 auto;
					max-width: 20rem;
				}
			}

			.testimonial-quote {
				font-size: 1rem;
				max-width: 40rem;
			}
		}
	}
}