.resources-landing-info {
	margin: -9rem 0rem 3rem;
	z-index: 10;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@include mq($tablet){
		margin: -9rem 4rem 3rem;
	}
}

.resource-info {
	position: relative;
	width: 100%;

	&-wrapper {
		max-width: 40rem;
		z-index: 1;
		position: relative;
	}

	&__title {
		font-size: 3rem;
		line-height: 1;
		font-weight: bold;
	}

	&__description {
		margin: 3rem 0;
	}

	&__icon {
		position: absolute;
		padding: 3rem;
		border-radius: 50%;
		height: 16rem;
		width: 16rem;
		top: -3rem;
		right: -3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 0;
		opacity: .1;	
		
		@include mq($tablet){
			height: 30rem;
			width: 30rem;
			top: -8rem;
			right: -4rem;
		}

		@include mq($desktop){
			opacity: 1;
		}

		img {
			max-width: 6rem;
			width: 100%;
			display: block;

			@include mq($desktop){
				max-width: 6rem;
			}
		}

		&--red {
			background: $red;
		}
		&--blue {
			background: $blue;
		}
		&--green {
			background: $green;
		}

		&--image {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	&--half {
		width: 100%;
		max-width: 40rem;

		.resource-info__icon {
			height: 16rem;
			width: 16rem;
			top: -3rem;
			right: -3rem;
		}
		.resource-info-wrapper {
			max-width: 20rem;
		}
		.resource-info__title {
			font-size: 2rem;
		}
	}
}