.solutions-landing-info {
	margin-top: -6rem;
}

.solutions-testimonials {
	margin-bottom: 3rem;
}

.solutions-partners {
	margin-bottom: 6rem;
	padding: 3rem 0;

	&__title {
		font-size: 3rem;
	}

	&__subtitle {
		max-width: 30rem;
		margin-left: auto;
		margin-right: auto;
		hyphens: none;

		&--wide {
			max-width: 50rem;
		}
	}
}