$white: #FFF;
$black: #4A4A4A;
$rblack: #000;

$light-gray: #F8F8F8;
$gray: #9B9B9B;
$red: #FF4612;
$blue: #00B3E3;
$green: #77BC1F;
$cv-grey: #8A8A8A;

$shadow: 0 2px 5px 4px rgba($black, .2);
$border-radius: .5rem;

$twitter-blue: #0084FF;
$youtube-red: #FF0000;
$linkedin-blue: #4875B4;
$facebook-blue: #3B5998;

$light-grey: rgba( $black, .25 );
$grey: rgba( $black, .50 );
$dark-grey: rgba( $black, .75 );

$font-heading: 'Helvetica Neue', Helvetica, 'FontAwesome', sans-serif;
$font-body: 'Helvetica Neue' , Helvetica, 'FontAwesome', sans-serif;

$small-tablet: 420px;
$tablet: 900px;
$desktop: 1200px;

$menu-breakpoint: 1300px;

// mq mixin
@mixin bp($size) {
	@if $size == xs {
		@media (min-width: 480px) { @content; }
	} @else if $size == sm {
		@media (min-width: 768px) { @content; }
	} @else if $size == md {
		@media (min-width: 1023px) { @content; }
	} @else if $size == lg {
		@media (min-width: 1200px) { @content; }
	} @else if $size == xl {
		@media (min-width: 1340px) { @content; }
	} @else {
		@media (min-width: $size) { @content; }
	}
}