.page-template-whitepaper {
    .page-header {
        .page-title {
            hyphens: none;
            font-size: 3rem;
            max-width: 35rem;
            @include mq($small-tablet){
                font-size: 4rem;
            }
        }
    }
    .page-header::before {
        display: none;
    }
}

.full-width-whitepaper-banner {
    background: $green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -1.5rem;
    position: relative;
    padding: 3rem 1.5rem 0;
    flex-direction: column;
    text-align: center;

    @include mq($small-tablet){
        text-align: left;
        flex-direction: row;
        padding: 0 1.5rem;
        height: 10rem;
    }

    .button {
        margin: 0 1.5rem;
    }

    .whitepaper-image {
        align-self: center;
        order: 3;
        margin-top: 3rem;

        @include mq($small-tablet){
            order: initial;
            margin-right: 1.5rem;
            margin-top: 0;
            margin-bottom: 0;
            align-self: flex-end;    
        }
    }
}

.whitepaper-banner-left {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    flex-direction: column;

    @include mq($small-tablet){
        
        margin-bottom: 0;
        flex-direction: row;
    }

    h2 {
        margin: 0;
        color: $white;
        font-size: 2rem;
        line-height: 1.25;
    }

    p {
        margin: 0;
    }
}

.full-width-whitepaper-footer-banner { 
    background: $green;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 3rem 1.5rem 0;
    text-align: center;
    
    @include mq($small-tablet){
        margin-top: 18rem;
        padding: 0 1.5rem;
        
    }

    &-wrapper {
        // width: 70rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        flex-direction: column;

        @include mq($small-tablet){
            height: 20rem;
            flex-direction: row;
            text-align: left;
        }
    }

    .whitepaper-banner-left {
        display: flex;
        max-width: 20rem;
        text-align: center;

        h2 {
            line-height: 1;
            margin: 0;
            font-size: 2rem;
            margin-bottom: 2rem;
            text-align: center;

            @include mq($small-tablet){
                text-align: left;
            }
        }
        p {
            margin: 0;
            margin-bottom: .5rem;
        }

        a:not(.button) {
            color: $black;
            text-decoration: underline;
        }
    }

    img {
        align-self: center;
        max-width: 30rem;
        margin: 0 1.5rem;
        width: 12rem;

        @include mq($small-tablet){
            align-self: flex-end;
            width: auto;
        }
    }
}

.whitepaper-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: flex-start;
}

.whitepaper-content {
    width: 50rem;
    padding: 1.5rem 0;

    h1, h2, h3 {
        line-height: 1.2;
    }
}

.whitepaper-sidebar {
    position: static;
    top: 2rem;
    max-width: 18rem;
    padding: 1rem;
    background: #EFEFEF;
    align-self: flex-start;
    z-index: 100;
    margin: 1rem;
    border: 1px solid #979797;
    border-radius: .5rem;
    
    @include mq($desktop){
        position: sticky;
    }

    input[type="submit"].gform_button {
        background: $green;
        color: $white;
        width: 100% !important;
        display: block;
        border: none;
    }
}

.whitepaper-quote {
    color: $red;
    margin: 12rem 0;
    
    @include mq($tablet){
        display: flex;
        
    }

    &:after {
        width: 100%;
        height: 250%;
        top: -70%;
        left: 0;
        @include mq($small-tablet){
            left: -20%;
        }
    }

    &-title {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1;
        min-width: 20rem;
        display: flex;
        margin-right: 3rem;
        margin-bottom: 2rem;

        &:after {
            content: '';
            display: block;
            width: 4px;
            background: $red;
            height: 100%;
            margin-left: 3rem;
        }
    }

    quote {
        display: block;
        margin-bottom: 1rem;
    }
}