/**
 * Theme Name: Eagle Technologies Theme
 * Author: 502 - A strategic marketing agency
 * Author URI: https://weare502.com/
 * Version: 0.2
 */
@import "reset";
@import "mq";
@import "susy2/susy";
@import "fonts";
@import "variables";

* {
	box-sizing: border-box;
}
@import "grid";
@import "forms";
@import "tables";
@import "utilities";

html, body {
    -webkit-font-smoothing: antialiased;
	font-size: 12px;
	line-height: 1.5;
	font-family: $font-body;
	// overflow-x: hidden;
	color: $black;
	background: $white;
	
	@include mq($tablet){
		font-size: 14px;
	}
	@include mq($desktop){
		font-size: 16px;
	}
}

body {
	padding-left: .5rem;
	padding-right: .5rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
	line-height: 1;
}

img {
	max-width: 100%;
	height: auto;
}
@import "typography";
@import "header";
@import "footer";
@import "global-patterns";
@import "buttons";

#content {
	padding-left: .5rem;
	padding-right: .5rem;

	@include mq(1440px){
		padding-left: 0;
		padding-right: 0;
	}
}

@import "tinymce";
@import "blog";
@import "pages";
@import "events";
@import "howtos";
@import "history";
@import "downloads";
@import "comments";
@import "home";
@import "contact";
@import "resources";
@import "case-studies";
@import "assessment";
@import "support";
@import "services";
@import "solutions";
@import "bg-video";
@import "whitepaper";
@import 'commvault';